.tabs {
    background-color: #00897B;
    margin-bottom: 1rem;
}

.tabs .tab a {
    color: white;
}

.tabs .tab a.active {
    background-color: #00bcd4;
    font-weight: bold;
    font-size: medium;
}

:host /deep/ .tabs .indicator {
    background-color:rgb(0, 96, 172) !important;
}

blockquote.blockquote-info {
    margin: 20px 0;
    padding-left: 1.2rem;
    border-left: 5px solid rgba(0, 188, 212, 0.31);
    color: #989898;
    font-size: small;
}