<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <span class="card-title center-align">{{title}}</span>
                <br />
                <loading *ngIf="isLoading"></loading>
                <form #formPatientMedicalInsurance="ngForm" [formGroup]="form" (ngSubmit)="onSubmit($event)" *ngIf="!isLoading && !!form">
                    <div class="row">
                        <!-- <div class="input-field col s12 m6">
                            <input id="denomination" formControlName="denomination" type="text" class="validate" minlength="4"
                                   maxlength="40" name="denomination" required>
                            <label for="denomination" [class.active]="patientMedicalInsurance.medicalInsurance.medicalInsuranceAccount.denomination">Denominación</label>
                        </div> -->
                        <div class="input-field col s12 m6">
                            <input type="text" required
                                   id="medicalInsurance" auto-complete
                                   [source]="auxListMedicalInsurance"
                                   [value]="nameMedicalInsurance"
                                   (valueChanged)="customCallbackMedical($event)"
                                   (blur)="validateNameMedical($event.target.value)"
                                   (input)="nameMedicalInsurance=$event.target.value"
                                   max-num-list="10" />
                            <label [ngClass]="{'active': (nameMedicalInsurance!='')?true:false}">Obra Social</label>
                            <app-control-error-message [show]="!isLoadingMedicalInsurance"></app-control-error-message>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="name" formControlName="name" type="text" minlength="4"
                                   maxlength="40" name="name" [value]="patientMedicalInsuranceService.patientName" readonly>
                            <label for="name" [class.active]="patientMedicalInsurance.patientName">Nombre</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 m5">
                            <input id="carnetNumber" formControlName="carnetNumber" type="text" class="validate" minlength="4"
                                   maxlength="40" name="carnetNumber">
                            <label for="carnetNumber" [class.active]="patientMedicalInsurance.carnetNumber">Nro. de Carnet</label>
                            <app-control-error-message [show]="!form.value.carnetNumber"></app-control-error-message>
                        </div>
                        <div class="input-field col s12 m3">
                            <input #expirationDate formControlName="expirationDate" name="expirationDate" id="expirationDate" [attr.data-value]="form.value.expirationDate" type="text"
                                   class="datepicker" materialize="pickadate" [materializeParams]="[datePickerOptions]">
                            <label for="expirationDate">Fecha de Vencimiento</label>
                            <app-control-error-message [show]="!form.value.expirationDate"></app-control-error-message>
                        </div>

                        <div class="col s12 m3" style="margin-top: 2rem">
                            <input type="checkbox" id="byDefault" formControlName="byDefault" />
                            <label for="byDefault">Por defecto</label>
                        </div>
                    </div>

                    <div class="row center-align">
                        <button type="submit" [disabled]="!formPatientMedicalInsurance.form.valid || !isLoadingMedicalInsurance " class="waves-effect waves-light btn btn-form center blue z-index-0">Guardar</button>
                        <button type="button" class="waves-effect waves-light btn btn-form center red z-index-0" (click)="onCancelButton()">Cancelar</button>
                    </div>
                </form>
                <div *ngIf="!isLoading && !form">
                    <div class="center-align" style="margin-bottom: 50px;margin-top: 20px;">
                        <span style="font-weight: bold;">NO HAY DATOS PARA MOSTRAR</span>
                    </div>
                    <div class="center-align">
                        <a [routerLink]="['/pacienteObraSocial/obraSocial/:patientId']" class="waves-effect waves-light btn center-align red lighten-1">Cerrar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-modal-confirm [title]="isEdit ? 'Editar' : 'Alta'" [message]="'Desea regresar sin guardar los cambios?'"
                   [openModalSubject]="openModalSubject" (agree)="onAgree()">
</app-modal-confirm>
