<div class="row">
    <div class="col s12">
        <div class="card">

            <div class="card-content">
                <span class="card-title center-align">{{title}}</span>
                <loading *ngIf="isLoading"></loading>

                <!-- (ngSubmit)="onSubmit($event)" -->
                <form #formExportationDetail="ngForm" [formGroup]="form" *ngIf="!isLoading">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="name" formControlName="name" name="name" type="text" class="validate" [(ngModel)]="exportationDetail.name" required maxlength="50"/>
                            <label for="name" [class.active]="exportationDetail.name">Nombre</label>
                            <app-control-error-message [form]="formExportationDetail" [control]="{key:'name'}"></app-control-error-message>
                        </div>

                        <div class="input-field col s6">
                            <input id="fileName" formControlName="fileName" type="text" class="validate" [(ngModel)]="exportationDetail.fileName" required maxlength="50"/>
                            <label for="fileName" [class.active]="exportationDetail.fileName">Nombre del expediente</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s4">
                            <select materialize="material_select" [materializeSelectOptions]="tipos" required name="tipos" [(ngModel)]="exportationDetail.type" formControlName="tipos" (change)="onChangeDetailType()">
                                <option value="-1" disabled selected>Elija una opción</option>
                                <option *ngFor="let tipo of tipos" [value]="tipo.number">{{tipo.name}}</option>
                            </select>
                            <label for="tipos">Tipo</label>
							<app-control-error-message [show]="!form.value.tipos && form.value.tipos != 0"></app-control-error-message>
                        </div>
                        <div class="input-field col s8" *ngIf="isCsv">
                            <input id="separa" name="separa" formControlName="separa" type="text" class="validate" [(ngModel)]="exportationDetail.separa" maxlength="5" />
                            <label for="separa" [class.active]="exportationDetail.separa">Separa</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="textarea1" name="textarea1" formControlName="sql" class="materialize-textarea" [(ngModel)]="exportationDetail.sql" maxlength="10242"></textarea>
                            <!-- <input id="textarea1" name="sql" formControlName="sql" type="text" class="validate" [(ngModel)]="exportationDetail.sql" minlength="4" maxlength="100"/> -->
                            <label for="textarea1" [class.active]="exportationDetail.sql">Consulta en SQL</label>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="input-field col s12">
                            <textarea id="textarea2" name="textarea2" formControlName="docHtml" class="materialize-textarea" [(ngModel)]="exportationDetail.docHtml" maxlength="10242"></textarea>
                            <label for="docHtml" [class.active]="exportationDetail.docHtml">Dochtm</label>
                        </div>
                    </div> -->
                    <!-- <div class="row center-align" hidden>
                        <button type="submit" [disabled]="!formExportationDetail.form.valid" class="waves-effect waves-light btn btn-form center cyan ">Guardar</button>
                        <button type="button" class="waves-effect waves-light btn btn-form center red lighten-1" (click)="onCancelButton()">Cancelar</button>
                    </div> -->
                </form>

                <div class="row" *ngIf="!isLoading">
                    <div class="col s12" style="margin-bottom: 0.5rem;">
                        <label style="font-size: 1rem;">Dochtml</label>
                    </div>
                    <div class="col s12">
                        <ckeditor
                            [(ngModel)]="exportationDetail.docHtml"
                            [config]="config"
                            [readonly]="false"
                            debounce="500">
                        </ckeditor>
                        <!-- (change)="onChange($event)"
                            (ready)="onReady($event)"
                            (focus)="onFocus($event)"
                            (blur)="onBlur($event)" -->
                    </div>
                </div>

                <div class="row center-align" *ngIf="!isLoading" style="margin-top: 2rem;">
                    <button type="button" [disabled]="!form.valid" class="waves-effect waves-light btn btn-form center blue" (click)="onSubmit($event)">Guardar</button>
                    <button type="button" class="waves-effect waves-light btn btn-form center red" (click)="onCancelButton()">Cancelar</button>
                </div>
            </div>
        </div>

        <app-modal-confirm [title]="exportationDetail.number ? 'Editar' : 'Alta'" [message]="'Desea regresar sin guardar los cambios?'"
            [openModalSubject]="openModalSubject" (agree)="onAgree()">
        </app-modal-confirm>
    </div>
</div>