<div class="table-container row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <app-dynamic-table [sourceService]="userService"
                                   [title]="'Usuarios'"
                                   [columns]="columns"
                                   [controlsToFilter]="controlsToFilter"
                                   [reloadingData]="reloadingData"
                                   (actionClick)="onActionClick($event)"
                                   [permissionCode]="'ABMUSUARIO'"
                                   [disabledDelete]="true" 
                                   (reloadingDataChange)="updateReloadingData($event)">
                </app-dynamic-table>
            </div>
        </div>
    </div>
</div>