<div class="row">
    <div class="col s8 offset-s2">
        <div class="card">
            <div class="card-title center-align">Importar datos de Prácticas INOS</div>
            <div class="card-content">
                <div class="row" style="text-align: center" *ngIf="fileLoad">
                    <br>
                    <div class="col s6">
                        <h5>Nombre: </h5>
                        <span>{{fileLoad?.name}}</span>
                    </div>
                    <div class="col s6">
                        <h5>Peso: </h5>
                        <span>{{fileLoad?.size/1024}} kb</span>
                    </div>
                </div>
                <div class="row" style="text-align: center">
                    <div class="col s12">
                        <div class="waves-effect waves-light btn cyan" (click)="selectFile()">Seleccionar Archivo XML</div>
                        <input id="file-input" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                            type="file" name="name" style="display: none;" (change)="getFiles($event)" />
                    </div>
                </div>

                <div class="row" style="text-align: center">
                    <br>
                    <div class="col s6">
                        <a class="waves-effect waves-light btn blue" [ngClass]="{disabled: !fileLoad}" (click)="uploadServerFile()">
                            <i class="material-icons right">cloud_upload</i>Subir</a>
                    </div>
                    <div class="col s6">
                        <a class="waves-effect waves-light btn red" (click)="onAgree()">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>