<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <span class="card-title center-align">Detalle de Práctica INOS</span>
                <br />
                <loading *ngIf="isLoad"></loading>

                <div *ngIf="!isLoad && !!practiceInos">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">description</i>
                            <input id="name" type="text" value="{{practiceInos.practiceTypeName}}" readonly>
                            <label class="active" for="name">Nombre de Práctica</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">description</i>
                            <input id="descrip" type="text" value="{{practiceInos.description}}" readonly>
                            <label class="active" for="descrip">Descripción</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">description</i>
                            <input value="{{practiceInos.code}}" id="code" type="text" readonly>
                            <label class="active" for="code">Código</label>
                        </div>
                    </div>
                    <div class="row center-align">
                        <a [routerLink]="['/archivos/practicasInos']" class="waves-effect waves-light btn blue center-align">Atras</a>
                    </div>
                </div>
                <div *ngIf="!isLoad && !practiceInos">
                    <div class="center-align" style="margin-bottom: 50px;margin-top: 20px;">
                        <span style="font-weight: bold;">NO HAY DATOS PARA MOSTRAR</span>
                    </div>
                    <div class="row center-align">
                        <a [routerLink]="['/archivos/practicasInos']" class="waves-effect waves-light btn center-align red lighten-1">Cerrar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
