<div class="col s12 m4 l3">
    <span class='link' (click)="onViewDetail(bed.id)">
        <div class="card hoverable">
            <div class="card-content header-card white-text" [style.background-color]="bed.patientName ? 'rgb(208, 21, 7)' : 'rgb(0, 150, 95)'">
              <div class="row center-align">
                <span class="card-title activator truncate">
                  <i class="fa fa-bed" style="margin-right: .5rem;"></i>
                  {{bed.name}}
                </span>
              </div>
            </div>

            <div class="card-content body-card">
                <div class="row">
                    <label class="col control-label">Tipo</label>
                    <div class="col">
                      <p class="form-control-static">{{bed.typeName}}</p>
                    </div>
                </div>
                <div class="row">
                    <label class="col control-label">Sala</label>
                    <div class="col">
                      <p class="form-control-static">{{bed.wardName}} ({{bed.ward.typeName}})</p>
                    </div>
                </div>
                <div class="row">
                    <label class="col control-label">Sector</label>
                    <div class="col">
                      <p class="form-control-static">{{bed.ward.wardSector?.name}}</p>
                    </div>
                </div>
                <!-- <div class="divider"></div> -->
                <div class="row" *ngIf="bed.patientName">
                    <label class="col s12 control-label">Paciente</label>
                    <div class="col s12">
                        <p class="truncate">{{bed.patientName}}</p>
                    </div>
                </div>
            </div>
        </div>
    </span>
</div>