@import '../../../styles/custom-variables.scss';

/* Star - Style for table */
table>tbody>tr>td>a {
    color: #e7e7e7;
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
}

table>tbody>tr>td>a:hover {
    color: #00BCD4;
    cursor: pointer;
}

table {
    position: relative;
}

table>tbody>tr {
    cursor: pointer;
}

table>.btn-floating {
    position: absolute;
    right: 8px;
    float: right;
    top: 32px;
    font-size: 20px;
}

.action>a {
    color: #e7e7e7;
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
}

.action>a:hover {
    color: #00BCD4;
    cursor: pointer;
}

.edit>a {
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
}

.edit>a:hover {
    text-shadow: 1px 1px 2px black, 0 0 5px grey;
    cursor: pointer;
}
.not-active {
    pointer-events: none;
    cursor: default;
    color: beige;
    text-shadow: 1px 1px 2px rgba(50, 50, 50, 1);
}

.pagination li.active {
    background: #00BCD4
}

td {
    border-radius: 0px !important;
}

/* Star - Style for sort */
.table-sortable > thead > tr > th {
    cursor: pointer;
    position: relative;
    background-image: none;
}

.table-sortable > thead > tr > th:after,
.table-sortable > thead > tr > th.sort-false:after,
.table-sortable > thead > tr > th.sort-true:after {
    font-family: FontAwesome;
    padding-left: 5px;
}

.sortable:after {
content: "\f0dc";
    color: #ddd;
}
.sortable.sort-false:after {
content: "\f0de";
    color: #767676;
}
.sortable.sort-true:after {
content: "\f0dd";
    color: #767676;
}
/* End - Style for sort */

/* Star - Style for filters */
.input-filter {
    margin-top: -0.7rem;
    // margin-bottom: 0.3rem;
    // min-height: min-content !important;
}

.input-filter input {
    width: 100%;
    margin-left: 0rem;
    margin-bottom: 0rem !important;
}
/* End - Style for sort */

/* Star - Various styles  */
td {
    padding: 9px 5px;
}

th {
    padding: 17px 5px;
}
/* End - Various styles  */




.modal-styles {
    max-height: 80%;
    width: 75%;
}

.modal .modal-header {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 0.6rem;
    height: 50px;
    width: 100%;
}

.modal.modal-fixed-footer .modal-content {
    height: calc(100% - 106px) !important;
}

// .hover-teal:hover {
//     background-color: #2bbbad;
//     color: white;
// }

// .hover-red:hover {
//     background-color: #ef5350;
//     color: white;
// }

// .hr-style {
//     border-width: 1px;
//     border-color: #cacaca47;
//     margin-top: 1.7rem;
// }

@media #{$small-and-down} {
    .modal-styles {
        top: 0% !important;
        height: 100%;
        max-height: 100%;
        width: 100%;
    }

    .card-title {
        font-size: 19px;
        font-weight: 500;
    }

    .modal-footer {
        text-align: center !important;
    }

}

.icon-iac {
    position: relative;
    margin-top: -3.5rem;
    float: right;
    color: #a5a5a57d;
    font-size: 21px;
    cursor: pointer;
}

.clear:hover {
    color: #f906067d;
}

.search:hover {
    color: rgba(101, 207, 255, 0.5);
}
.modal .modal-content{
    padding-top: 1rem; 
}
.divtable{
    margin-top: -0.5rem;
}