<div class="table-container row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <app-dynamic-table 
                    [sourceService]="itemPracticeService" 
                    [title]="'Items de Practicas Medicas'" 
                    [columns]="columns" 
                    [controlsToFilter]="controlsToFilter"
                    [paginator]="paginator"
                    [disabledDetail]="true" 
                    [permissionCode]="'ABMPRAITEM'"
                    (actionClick)="onActionClick($event)">
                </app-dynamic-table>
            </div>
        </div>
    </div>
    <app-modal-confirm [title]="'Eliminar item de practica'"
        [message]="'Desea eliminar el item de practica?'"
        [openModalSubject]="deleteModalSubject"
        (agree)="onDeleteConfirm()">
    </app-modal-confirm>
</div>

