
<div *ngIf="showFullCalendar">
    <div class="row">
        <div class="center-box-legend">
            <div class="col box-legend">
                <div class="col">
                    <i  class="material-icons icon-legend" [style.color]="holidayColor">apps</i> <span class="text-legend"> Feriados y asuetos.</span>
                </div>
                <div class="col">
                    <i  class="material-icons icon-legend" [style.color]="absenceColor">apps</i> <span class="text-legend"> Ausencias del Profesional.</span>
                </div>
                <div class="col">
                    <i  class="material-icons icon-legend" [style.color]="withScheduleColor">apps</i> <span class="text-legend"> Dias con horarios.</span>
                </div>
                <div class="col">
                    <i  class="material-icons icon-legend" [style.color]="grantedTurnColor">apps</i> <span class="text-legend"> Turnos otorgados</span>
                </div>
                <div class="col">
                    <i  class="material-icons icon-legend" [style.color]="assistedTurnColor">apps</i> <span class="text-legend"> Turnos asistidos</span>
                </div>
            </div>
        </div>
    </div>

    <ng-fullcalendar id="ucCalendar" #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
        (eventResize)="updateEvent($event.detail)" (clickButton)="clickButton($event.detail)"
        (dayClick)="dayClick($event.detail)"
        [(eventsModel)]="events">
    </ng-fullcalendar>
</div>
