<div #ff="ngForm" class="class-by-iac" [formGroup]="form">

    <input ngui-auto-complete
        [id]="formControlNameIAC + 'AutoComplete'" type="text"
        [disabled]="disabledIAC" required="{{requiredIAC}}"
        [class.valid]="validClass" [class.invalid]="invalidClass"
        [placeholder]="placeholder"
        [source]="observableSource.bind(this)"
        [list-formatter]="displayPropertyName"
        [max-num-list]="maxNumList"
        [no-match-found-text]="noMatchFoundText"
        loading-text="Cargando..."
        [ngModel]="valueIAC" [ngModelOptions]="{standalone: true}"
        (ngModelChange)="onChangeInput($event)"
        (blur)="validateSelection($event.target.value)"
        (focus)="focus=true"
        >


    <!-- <input ngui-auto-complete
        [id]="formControlNameIAC + 'AutoComplete'" type="text"
        [disabled]="disabledIAC || isLoading" [required]="requiredIAC"
        [class.valid]="validClass" [class.invalid]="invalidClass"
        [source]="stringList"
        [placeholder]="placeholder"
        [max-num-list]="maxNumList"
        [no-match-found-text]="noMatchFoundText"
        [value]="valueAuxIAC" (input)="valueAuxIAC=$event.target.value"
        (valueChanged)="updateValue($event)"
        (blur)="validateSelection($event.target.value)"
        (focus)="focus=true"
        
        > -->
    <i class="fa fa-spinner fa-spin icon-iac" aria-hidden="true" *ngIf="isLoading"></i>
    <i class="material-icons icon-iac clear" (click)="clearInput()" *ngIf="valueIAC && !disabledIAC && isLoading">highlight_off</i>
    <label [attr.for]="formControlNameIAC + 'AutoComplete'" [class.active]="activateLabel()">{{label}}</label>
    <app-control-error-message [form]="ff" [control]="{key: formControlNameIAC}"></app-control-error-message>

</div>
<br/>selected model: {{valueIAC | json}}<br/><br/>
<br/>selected model: {{selectedValue | json}}<br/><br/>
