<div class="row">
    <div class="col s12">
        <div class="card-content">
            <br />
            <table class="table-bordered">
                <a class="btn-floating btn-small waves-effect waves-light" (click)="onActionClick('new')" style="top: 37px;">
                    <i class="fa fa-plus"></i>
                </a>
                <thead>
                    <tr>
                        <th>Fecha desde</th>
                        <th>Fecha hasta</th>
                        <th>Motivo</th>
                        <th>Fecha de Edición</th>
                        <th class="text-center">
                            Acciones
                        </th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of professionalAbsences;let i=index">
                    <tr>
                        <td>
                            <span>{{item.dateFrom }}</span>
                        </td>
                        <td>
                            <span>{{item.dateTo }}</span>
                        </td>
                        <td>
                            <span>{{item.motiveName }}</span>
                        </td>
                        <td>
                            <span>{{item.editionDate}}</span>
                        </td>
                        <td class="text-center">
                            <a *ngIf="item.canEdit" (click)="onActionClick('edit', item)" materialize="tooltip" data-position="bottom" data-delay="50" data-tooltip="Editar">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a (click)="deleteClick(item)" materialize="tooltip" data-position="bottom" data-delay="50" data-tooltip="Eliminar">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <app-modal-confirm [title]="'Eliminar la ausencia registrada'" [message]="'¿Desea eliminar la ausencia registrada?'" [openModalSubject]="deleteModalAbsenceSubject"
        (agree)="onDeleteAbsenceConfirm($event)">
    </app-modal-confirm>
</div>