<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <span class="card-title center-align">{{title}}</span>
                <br />
                <loading *ngIf="isLoading"></loading>
                <form #formConcept="ngForm" [formGroup]="form" (ngSubmit)="onSubmit($event)" *ngIf="!isLoading && !!form">
                    <div class="row">
                        <div class="input-field col s12 m3">
                            <input id="code" formControlName="code" type="text" class="validate" maxlength="20" />
                            <label [class.active]="concept.code" for="code">Codigo</label>
                            <app-control-error-message [form]="formConcept" [control]="{key:'code'}"></app-control-error-message>
                        </div>

                        <div class="input-field col s12 m9">
                            <input id="description" formControlName="description" type="text" class="validate" maxlength="80" />
                            <label [class.active]="concept.description" for="description">Descripcion</label>
                            <app-control-error-message [form]="formConcept" [control]="{key:'description'}"></app-control-error-message>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <input type="number" class="validate" formControlName="price" id="price">
                            <label for="price" [class.active]="form.value.price">Precio</label>
                            <app-control-error-message [form]="formConcept" [control]="{key:'price'}"></app-control-error-message>
                        </div>

                        <div class="input-field col s12 m6">
                            <select id="type" formControlName="type" materialize="material_select" [materializeSelectOptions]="conceptTypes"
                                    required>
                                <option value="" disabled selected>Elija una opción</option>
                                <option *ngFor="let conceptType of conceptTypes" [ngValue]="conceptType.number">{{conceptType.name}}</option>
                            </select>
                            <label for="type">Tipo</label>
                            <app-control-error-message [show]="!formConcept.value.type && formConcept.value.type != 0"></app-control-error-message>
                        </div>
                    </div>
                    <br />
                    <div class="row center-align">
                        <button type="submit" [disabled]="!formConcept.form.valid" class="waves-effect waves-light btn btn-form center cyan " style="z-index: 0 !important">Guardar</button>
                        <button type="button" class="waves-effect waves-light btn btn-form center red lighten-1" (click)="onCancelButton()" style="z-index: 0 !important">Cancelar</button>
                    </div>
                </form>
                <div *ngIf="!isLoading && !form">
                    <div class="center-align" style="margin-bottom: 50px;margin-top: 20px;">
                        <span style="font-weight: bold;">NO HAY DATOS PARA MOSTRAR</span>
                    </div>
                    <div class="center-align">
                        <a [routerLink]="['/camas/camas']" class="waves-effect waves-light btn center-align red lighten-1">Cerrar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-modal-confirm [title]="isEdit ? 'Editar' : 'Alta'" [message]="'Desea regresar sin guardar los cambios?'" [openModalSubject]="openModalSubject"
                   (agree)="onAgree()">
</app-modal-confirm>
