table>tbody>tr>td>a {
    color: #e7e7e7;
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
}

table>tbody>tr>td>a:hover {
    color: #00BCD4;
    cursor: pointer;
}

table {
    position: relative;
}

table>.btn-floating {
    position: absolute;
    right: 8px;
    float: right;
    top: 32px;
    font-size: 20px;
}

.action>a {
    color: #e7e7e7;
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
}

.action>a:hover {
    color: #00BCD4;
    cursor: pointer;
}

.edit>a {
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
}

.edit>a:hover {
    text-shadow: 1px 1px 2px black, 0 0 5px grey;
    cursor: pointer;
}

.not-active {
    pointer-events: none;
    cursor: default;
    color: beige;
    text-shadow: 1px 1px 2px rgba(50, 50, 50, 1);
}

td {
    border-radius: 0px !important;
}

input[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #00BCD4;
    background-color: #00BCD4;
}