<div class="row">
    <form>
        <div class="card card col s8 offset-s2">
            <div class="card-content" *ngIf="isLoad">
                <div class="card-title center-align">Exportación <strong>{{exportation.name}}</strong></div>
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">description</i>
                        <input id="name" type="text" value="{{exportation.name}}" readonly>
                        <label class="active" for="name">Nombre</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">description</i>
                        <input value="{{exportation.description}}" id="descrip" type="text" readonly>
                        <label class="active" for="descrip">Descripción</label>
                    </div>
                </div>
                <div class="row center-align">
                    <a [routerLink]="['/sistema/exportaciones']" class="waves-effect waves-light btn blue center-align">Atras</a>
                </div>
            </div>
        </div>
    </form>
</div>