<div class="card-content">
    <span class="card-title center-align">{{(diagnosticMovementService?.isNew ? 'Nuevo' : 'Editar')}} Diagnóstico</span>

    <form #f="ngForm" [formGroup]="form" (ngSubmit)="saveDiagnostic()" *ngIf="!!form">
        <div class="row">
            <div class="input-field col s12 m8">
                <!-- <input-auto-complete #diagnosticIAC
                    [label]="'Diagnóstico'" [requiredIAC]="true"
                    [form]="form" [formControlNameIAC]="'diagnosticId'"
                    [functionForData]="sourceDiagnostics">
                </input-auto-complete> -->
                <app-input-search #diagnosticIS [label]="'Diagnostico'" [requiredIS]="true"
                    [form]="form" [formControlNameIS]="'diagnosticId'"
                    [readonlyValue]="diagnosticMovement.name"
                    [service]="diagnosticService" [columns]="columnsForIS">
                </app-input-search>
            </div>

            <div class="input-field col s12 m4">
                <input id="hierarchy" class="validate" required type="number"  formControlName="hierarchy">
                <label for="hierarchy" [class.active]="form.value.hierarchy">Jerarquía</label>
                <app-control-error-message [form]="f" [control]="{key: 'hierarchy'}"></app-control-error-message>
            </div>
        </div>
        <div class="row center-align">
            <button type="submit" class="waves-effect waves-light btn btn-form center blue" [disabled]="!f.form.valid">
                Aceptar
            </button>
            <button type="button" class="waves-effect waves-light btn btn-form center red z-index-0" (click)="onCancelBtnDiagnostic()">Cancelar</button>
        </div>
    </form>
</div>

<app-modal-confirm [title]="!!diagnosticMovementService?.isNew ? 'Editar' : 'Alta'"
				   [message]="'¿Desea regresar sin guardar los cambios?'"
				   [openModalSubject]="openModalDiscardSubject"
				   (agree)="discardChanges()">
</app-modal-confirm>
