$break-small: 1200px;

@media(max-width: 767px) {
	.body-content {
		padding-top: 50px;
	}
}

:host /deep/ .toast {
	top:10px;
}


header, main, footer {
	padding-left: 0px;
}

.main-open{
	padding-left: 300px ;
}
.main-close{
	padding-left: 0px;
}

@media only screen and (max-width : $break-small) {
	header, main, footer {
	  padding-left: 0;
	}
	.main-open{
		padding-left: 0px !important;
	}
}

@media only screen and (min-width : $break-small) {
	#sidenav-overlay {
		display: none;
	}
}




