<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <span class="card-title center-align">Horario</span>
                <form #formSchedule="ngForm" [formGroup]="formContractSchedule" (ngSubmit)="onSubmitSchedule($event)">
                    <div class="input-field col s12 m6 l3">
                        <select id="weekdayFrom" formControlName="weekdayFrom" materialize="material_select" [materializeSelectOptions]="weekDays" (ngModelChange)="customCallbackHour()" required>
                            <option value="" disabled selected>Elija una opción</option>
                            <option *ngFor="let day of weekDays" [ngValue]="day.number">{{day.name}}</option>
                        </select>
                        <label for="weekdayFrom">Desde el Día</label>
                        <app-control-error-message [show]="!formContractSchedule.value.weekdayFrom && formContractSchedule.value.weekdayFrom != 0"></app-control-error-message>
                    </div>
                    <div class="input-field col s12 m6 l3">
                        <input #hourFrom type="text" class="timepicker" materialize="pickatime" formControlName="hourFrom" id="hourFrom" [materializeParams]="[timePickerOptions]" (ngModelChange)="customCallbackHour()">
                        <label for="hourFrom" [class.active]="professionalContractSchedule.hourFrom">Hora desde</label>
                        <app-control-error-message [show]="!isValidHourFrom" [form]="formSchedule" [control]="{key:'hourFrom'}" [message]="'La hora Desde debe ser menor a la hora Hasta'"></app-control-error-message>
                    </div>
                    <div class="input-field col s12 m6 l3">
                        <select id="weekdayTo" formControlName="weekdayTo" materialize="material_select" [materializeSelectOptions]="weekDays" (ngModelChange)="customCallbackHour()" required>
                            <option value="" disabled selected>Elija una opción</option>
                            <option *ngFor="let day of weekDays" [ngValue]="day.number">{{day.name}}</option>
                        </select>
                        <label for="weekdayTo">Hasta el Día</label>
                        <app-control-error-message [show]="!formContractSchedule.value.weekdayTo && formContractSchedule.value.weekdayTo != 0"></app-control-error-message>
                    </div>
                    <div class="input-field col s12 m6 l3">
                        <input #hourTo type="text" class="timepicker" materialize="pickatime" formControlName="hourTo" id="hourTo" [materializeParams]="[timePickerOptions]" (ngModelChange)="customCallbackHour()">
                        <label for="hourTo" [class.active]="professionalContractSchedule.hourTo">Hora hasta</label>
                    </div>
                    <div class="input-field col s12 m3 l4">
                        <select id="time" formControlName="time" materialize="material_select" [materializeSelectOptions]="durations" (change)="onChangeDuration()"
                                required>
                            <option value="" disabled selected>Elija una opción</option>
                            <option *ngFor="let duration of durations" [value]="duration.time">{{duration.name}}</option>
                        </select>
                        <label for="time">Duración turno</label>
                        <app-control-error-message [show]="!formSchedule.value.time  && formSchedule.value.time != 0"></app-control-error-message>
                    </div>
                    <div class="input-field col s12 m6 l4">
                        <input-auto-complete [label]="'Especialidad'"
                                             [requiredIAC]="true"
                                             [form]="formContractSchedule"
                                             [formControlNameIAC]="'specialtyName'"
                                             [valuePropertyName]="'name'"
                                             [functionForData]="functionForSpecialties"
                                             (valueChange)="selectedSpecialties($event)">
                        </input-auto-complete>
                    </div>
                    <div class="input-field col s12 m3 l4">
                        <input class="validate" formControlName="consultingRoom" id="consultingRoom" type="number" maxlength="10">
                        <label for="consultingRoom" [class.active]="professionalContractSchedule.consultingRoom">Consultorio</label>
                        <app-control-error-message [show]="!formSchedule.value.consultingRoom ||
							formContractSchedule.get('consultingRoom')?.hasError('min') || formContractSchedule.get('consultingRoom')?.hasError('max')"
                                                   [message]="formContractSchedule.get('consultingRoom')?.hasError('min') || formContractSchedule.get('consultingRoom')?.hasError('max') ?
							'Numero debe ser mayor a 0 y menor de 1000000' : ''">
                        </app-control-error-message>
                    </div>
                    <div class="row center-align">
                        <button type="submit" [disabled]="!formSchedule.form.valid || !isValidHourFrom" class="waves-effect waves-light btn btn-form center blue z-index-0">Guardar</button>
                        <button type="button" class="waves-effect waves-light btn btn-form center red z-index-0" (click)="onCancelButton()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-modal-confirm [title]="!!isNew ? 'Editar' : 'Alta'" [message]="'¿Desea regresar sin guardar los cambios?'" [openModalSubject]="openModalSubject"
                   (agree)="onAgree()">
</app-modal-confirm>