<div #ff="ngForm" class="class-by-iac" [formGroup]="form" *ngIf="source && !readonlyIAC">
    <input ngui-auto-complete
        [id]="formControlNameIAC" type="text"
        [disabled]="disabledIAC || isLoading" [required]="requiredIAC"
        [class.valid]="validClass" [class.invalid]="invalidClass"
        [source]="stringList"
        [placeholder]="placeholder"
        [max-num-list]="maxNumList"
        [no-match-found-text]="isDependent ? msgForDependent : noMatchFoundText"
        [ngModel]="valueAuxIAC" [ngModelOptions]="{standalone: true}"
        (ngModelChange)="onChangeInput($event)"
        (blur)="validateInput($event.target.value)"
        (focus)="focus=true"
        >
    <i class="fa fa-spinner fa-spin icon-iac" aria-hidden="true" *ngIf="isLoading"
        materialize="tooltip" data-position="buttom" data-delay="50" data-tooltip="Cargando">
    </i>
    <i class="material-icons icon-iac clear" (click)="clearInput()" *ngIf="valueAuxIAC && !disabledIAC"
        materialize="tooltip" data-position="buttom" data-delay="50" data-tooltip="Borrar">
        highlight_off
    </i>
    <label [attr.for]="formControlNameIAC" [class.active]="activateLabel()">{{label}}</label>
    <app-control-error-message [form]="ff" [control]="{key: formControlNameIAC}"></app-control-error-message>
</div>

<div *ngIf="readonlyIAC">
    <input [id]="formControlNameIAC" type="text" [value]="readonlyValue" readonly>
    <label class="active" [attr.for]="formControlNameIAC">{{label}}</label>
</div>
