.card {
    background-color: #ffc10714 !important;
    height: 15rem;
}

.header-card {
    padding: 5px !important;
}

.header-card .card-title {
    font-size: 18px;
    font-weight: 400;
}

.body-card .row{
    margin-bottom: .4rem !important;
}

.body-card label{
    color: #848484;
}

.body-card p{
    font-size: .9rem;
}

// span.link {
//     color: rgb(45, 104, 212);
//     cursor: pointer;
//     text-decoration: underline;
// }