<div class="row">
    <div class="col s12">
        <div class="card-content">
            <br />
            <app-dynamic-table #dtconceptos
                               [sourceService]="contractProfessionalConceptService"
                               [columns]="columns"
                               [hideFilters]="true"
                               [hideActions]="false"
                               [disabledDetail]="true"
                               [disableButtonFloating]="true"
                               (actionClick)="onActionClick($event)">
            </app-dynamic-table>
        </div>
    </div>
    <app-modal-confirm [title]="'Eliminar el concepto registrado'" [message]="'¿Desea eliminar el concepto registrado?'" [openModalSubject]="deleteModalConceptSubject"
                       (agree)="onDeleteConceptConfirm($event)">
    </app-modal-confirm>
</div>