<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <span class="card-title center-align">Cama {{bedCard.name}}</span>
                <br />
                <loading *ngIf="!isLoaded"></loading>

                <form #f="ngForm" [formGroup]="form"  *ngIf="isLoaded && !!form">
                    <div class="row">
                        <div class="col s12 m4">
                            <div class="input-field">
                                <input id="name" formControlName="name" type="text" maxlength="40" readonly>
                                <label for="name" [class.active]="form.value.name">Cama</label>
                            </div>
                        </div>
                        <div class="col s12 m4">
                            <div class="input-field">
                              <input id="typeName" formControlName="typeName" type="text" readonly>
                              <label for="typeName" [class.active]="form.value.typeName">Tipo</label>
                            </div>
                        </div>
                        <div class="col s12 m4">
                            <div class="input-field">
                              <input id="wardName" formControlName="wardName" type="text" readonly>
                              <label for="wardName" [class.active]="form.value.wardName">Sala</label>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="bedCard.patientName">
                        <div class="row">
                            <div class="col s12 m6 input-field">
                                <input id="patientName" formControlName="patientName" type="text" readonly>
                                <label for="patientName" [class.active]="form.value.patientName">Paciente</label>
                            </div>
                            <div class="col s12 m2 input-field">
                                <input id="patientAge" formControlName="patientAge" type="text" readonly>
                                <label for="patientAge" [class.active]="form.value.patientAge">Edad de Paciente</label>
                            </div>
                            <div class="col s8 m2 input-field">
                                <input id="admissionDate" formControlName="admissionDate" type="text" readonly>
                                <label for="admissionDate" [class.active]="form.value.admissionDate">Fecha de Admision</label>
                            </div>
                            <div class="col s4 m2 input-field">
                                <input id="hospitalizedDays" formControlName="hospitalizedDays" type="text" readonly>
                                <label for="hospitalizedDays" [class.active]="true">Dias hospitalizado</label>
                            </div>
                        </div>

                        <!-- <div class="row">
                          <div class="col s4 m2 input-field">
                            <input id="departureDate" formControlName="departureDate" type="text" readonly>
                            <label for="departureDate" [class.active]="form.value.departureDate">Fecha de Salida</label>
                          </div>
                          <div class="col s6 input-field">
                            <input id="departureTime" formControlName="departureTime" type="text" [readonly]="true" required>
                            <label for="departureTime" [class.active]="form.value.departureTime">Hora de Salida</label>
                          </div>
                        </div> -->
                    </div>
                </form>
            </div>
        </div>
        <div class="row center-align">
            <button type="button" class="waves-effect waves-light btn btn-form center blue lighten-1" (click)="goBack()">Volver</button>
        </div>
    </div>
</div>