<div class="row">
	<div class="col s12">
		<div class="card">
			<div class="card-content">
				<span class="card-title center-align">Detalle del Profesional</span>
				<loading *ngIf="!isLoaded"></loading>

				<div *ngIf="isLoaded && !!professional">
					<ul materialize="collapsible" class="collapsible" data-collapsible="expandable">
						<li>
							<div class="collapsible-header active blue lighten-2 white-text"><i class="material-icons">account_circle</i><span class="full-width">Datos personales</span><i class="material-icons less">expand_less</i><i class="material-icons more">expand_more</i></div>
							<div class="collapsible-body">
								<div class="row">
									<div class="col s3">
										<div class="cover">
											<img id="imgSRC" class="responsive-img" [src]="src" *ngIf="src">
										</div>
									</div>
									<div class="col s9 row">
										<div class="input-field col s12 m6">
											<i class="material-icons prefix">account_circle</i>
											<input id="surname" type="text" value="{{professional.professionalAccount.surname}}" readonly>
											<label class="active" for="surname">Apellido</label>
										</div>
										<div class="input-field col s12 m6">
											<i class="material-icons prefix">account_circle</i>
											<input id="name" type="text" value="{{professional.professionalAccount.name}}" readonly>
											<label class="active" for="name">Nombre</label>
										</div>
										<div class="input-field col s12 m6">
											<i class="material-icons prefix">chrome_reader_mode</i>
											<input id="cuit" type="text" value="{{professional.professionalAccount.cuit}}" readonly>
											<label class="active" for="cuit">{{professional.professionalAccount.identiAccount.name}}</label>
										</div>
										<div class="input-field col s12 m6">
											<i class="material-icons prefix">cake</i>
											<input id="birthdate" type="text" [value]="professional.professionalAccount.birthDate || ' '" readonly>
											<label class="active" for="birthdate">Fecha de Nac.</label>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="collapsible-header blue lighten-2 white-text"><i class="material-icons">place</i><span class="full-width">Datos de ubicación</span><i class="material-icons less">expand_less</i><i class="material-icons more">expand_more</i></div>
							<div class="collapsible-body">
								<div class="row">
									<div class="input-field col s12 m6">
										<i class="material-icons prefix">dehaze</i>
										<input id="address" type="text" [value]="professional.professionalAccount.address || ' '" readonly>
										<label for="address" class="active">Dirección</label>
									</div>
									<div class="input-field col s12 m6">
										<i class="material-icons prefix">dehaze</i>
										<input id="quarter" type="text" [value]="professional.professionalAccount.quarter || ' '" readonly>
										<label for="quarter" class="active">Barrio</label>
									</div>
									<div class="input-field col s12 m4">
										<i class="material-icons prefix">location_on</i>
										<input id="locality" type="text" value="{{professional.professionalAccount.loc.name}}" readonly>
										<label class="active" for="locality">Localidad</label>
									</div>
									<div class="input-field col s12 m4">
										<i class="material-icons prefix">location_on</i>
										<input id="province" type="text" [value]="province || ' '" readonly>
										<label class="active" for="province">Provincia</label>
									</div>
									<div class="input-field col s12 m4">
										<i class="material-icons prefix">location_on</i>
										<input id="zone" type="text" value="{{professional.professionalAccount.zoneAccount.name}}" readonly>
										<label class="active" for="zone">Zona</label>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="collapsible-header blue lighten-2 white-text"><i class="material-icons">perm_phone_msg</i><span class="full-width">Datos de contacto</span><i class="material-icons less">expand_less</i><i class="material-icons more">expand_more</i></div>
							<div class="collapsible-body">
								<div class="row">
									<div class="input-field col m4">
										<i class="material-icons prefix">phone</i>
										<input [value]="professional.professionalAccount.phone || ' '" id="phone" type="text" readonly>
										<label class="active" for="phone">Teléfono</label>
									</div>
									<div class="input-field col m4">
										<i class="material-icons prefix">description</i>
										<input [value]="professional.professionalAccount.fax || ' '" id="fax" type="text" readonly>
										<label class="active" for="fax">Fax</label>
									</div>
									<div class="input-field col m4">
										<i class="material-icons prefix">smartphone</i>
										<input [value]="professional.professionalAccount.movil || ' '" id="movil" type="text" readonly>
										<label class="active" for="movil">Celular</label>
									</div>
									<div class="input-field col m6">
										<i class="material-icons prefix">email</i>
										<input [value]="professional.professionalAccount.mail || ' '" id="mail" type="text" readonly>
										<label class="active" for="mail">E-mail</label>
									</div>
									<div class="input-field col m6">
										<i class="material-icons prefix">public</i>
										<input [value]="professional.professionalAccount.www || ' '" id="www" type="text" readonly>
										<label class="active" for="www">Página Web</label>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="collapsible-header blue lighten-2 white-text"><i class="material-icons">assignment_ind</i><span class="full-width">Datos de profesional</span><i class="material-icons less">expand_less</i><i class="material-icons more">expand_more</i></div>
							<div class="collapsible-body">
								<div class="row">
									<div class="input-field col m4">
										<i class="material-icons prefix">recent_actors</i>
										<input [value]="professional.enrollment == null ? ' ' : professional.enrollment" id="enrollment" type="text" readonly>
										<label class="active" for="enrollment">Matrícula</label>
									</div>
									<div class="input-field col m4">
										<i class="material-icons prefix">recent_actors</i>
										<input [value]="professional.matesp || ' '" id="matesp" type="text" readonly>
										<label class="active" for="matesp">Matrícula Especial</label>
									</div>
									<div class="input-field col m4">
										<i class="material-icons prefix">view_comfy</i>
										<input [value]="professional.professionalAccount.highDate || ' '" id="highDate" type="text" readonly>
										<label class="active" for="highDate">Fecha de Alta</label>
									</div>
									<div class="input-field col m6">
										<i class="material-icons prefix">group</i>
										<input [value]="professional.professionalAccount.repres || ' '" id="repres" type="text" readonly>
										<label class="active" for="repres">Representante</label>
									</div>
									<div class="input-field col m3">
										<i class="material-icons prefix">filter_1</i>
										<input [value]="professional.clinic == null ? ' ' : professional.clinic" id="clinic" type="text" readonly>
										<label class="active" for="clinic">Consultorio</label>
									</div>
									<div class="input-field col m3">
										<input name="enabled" [checked]="professional.professionalAccount.enabled === 1" type="radio" id="test1" />
										<label style="padding-right: 9%;" for="test1">Si</label>
										<input name="enabled" [checked]="professional.professionalAccount.enabled === 0" type="radio" id="test2" />
										<label for="test2">No</label>
										<label for="enabled" class="active">Esta habilitado</label>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="collapsible-header blue lighten-2 white-text"><i class="material-icons">broken_image</i><span class="full-width">Datos contables</span><i class="material-icons less">expand_less</i><i class="material-icons more">expand_more</i></div>
							<div class="collapsible-body">
								<div class="row">
									<div class="input-field col m4">
										<i class="material-icons prefix">picture_in_picture</i>
										<input value="{{professional.professionalAccount.ivaRegAccount.name}}" id="regiva" type="text" readonly>
										<label class="active" for="regiva">Reg. Iva</label>
									</div>
									<div class="input-field col m4">
										<i class="material-icons prefix">picture_in_picture</i>
										<input value="{{professional.professionalAccount.ibrRegAccount.name}}" id="regibr" type="text" readonly>
										<label class="active" for="regibr">Reg. ibr</label>
									</div>
									<div class="input-field col m4">
										<i class="material-icons prefix">picture_in_picture</i>
										<input [value]="professional.professionalAccount.ingbru || ' '" id="ingbru" type="text" readonly>
										<label class="active" for="ingbru">Ingresos Brutos</label>
									</div>
									<div class="input-field col m4">
										<i class="material-icons prefix">picture_in_picture</i>
										<input value="{{professional.professionalAccount.accountNumber}}" id="planAccount" type="text" readonly>
										<label class="active" for="planAccount">Plan Cuenta</label>
									</div>
									<div class="input-field col m4">
										<i class="material-icons prefix">picture_in_picture</i>
										<input value="{{professional.professionalAccount.aliibrAccount.name}}" id="aliibr" type="text" readonly>
										<label class="active" for="aliibr">Alicuota Ibr</label>
									</div>
									<div class="input-field col m4">
										<i class="material-icons prefix">picture_in_picture</i>
										<input value="{{professional.professionalAccount.categoryAccount.name}}" id="category" type="text" readonly>
										<label class="active" for="category">Categoría</label>
									</div>
									<div class="input-field col m6">
										<i class="material-icons prefix">equalizer</i>
										<input [value]="professional.professionalAccount.bank || ' '" id="bank" type="text" readonly>
										<label class="active" for="bank">Banco</label>
									</div>
									<div class="input-field col m6">
										<i class="material-icons prefix">equalizer</i>
										<input [value]="professional.professionalAccount.cbu || ' '" id="cbu" type="text" readonly>
										<label class="active" for="cbu">CBU</label>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="collapsible-header blue lighten-2 white-text"><i class="material-icons">playlist_add</i><span class="full-width">Datos adicionales</span><i class="material-icons less">expand_less</i><i class="material-icons more">expand_more</i></div>
							<div class="collapsible-body">
								<div class="row">
									<div class="input-field col m6">
										<i class="material-icons prefix">view_comfy</i>
										<input [value]="professional.professionalAccount.observation || ' '" id="observation" type="text" readonly>
										<label class="active" for="observation">Observación</label>
									</div>
									<div class="input-field col m6">
										<i class="material-icons prefix">view_comfy</i>
										<input [value]="professional.professionalAccount.cause || ' '" id="cause" type="text" readonly />
										<label class="active" for="cause">Causa</label>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="center-align" *ngIf="isLoaded && !professional" style="margin-bottom: 50px;margin-top: 20px;">
					<span style="font-weight: bold;">NO HAY DATOS PARA MOSTRAR</span>
				</div>
				<div class="center-align">
					<a [routerLink]="['/gestionProfesionales/profesionales']" class="waves-effect waves-light btn center-align red lighten-1">Cerrar</a>
				</div>
			</div>
		</div>
	</div>
</div>