<div class="row">
    <div class="container-table">
        <table class="container-table" *ngIf="!isLoading">
            <a class="btn-floating btn-small waves-effect waves-light" (click)="onActionClick('new')" style="top: 37px;">
                <i class="fa fa-plus" style="color: white;"></i>
            </a>
            <thead>
                <tr>
                    <th class="text-left">Fecha de Inicio</th>
                    <th>Fecha de Fin</th>
                    <th>Observación</th>
                    <th>Acciones</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="hoverable">
                <tr *ngIf="medicineScheme.length <= 0">
                    <td [attr.colspan]="5">
                        <p class="text-center">No hay elementos para mostrar.</p>
                    </td>
                </tr>
                <ng-container *ngFor="let item of medicineScheme; let i=index">
                    <tr class="center-align row-liquidation">
                        <td class="text-left">{{item.dateIni | date:'dd/MM/yyyy'}}</td>
                        <td>{{item.dateEnd | date:'dd/MM/yyyy'}}</td>
                        <td>{{item.observation}}</td>
                        <td style="white-space: nowrap;">
                            <a (click)="onActionClick('edit', item, i)" materialize="tooltip" data-position="bottom" data-delay="50" data-tooltip="Editar" ><i class="fa fa-pencil"></i></a>
                            <a (click)="onActionClick('delete', item, i)" materialize="tooltip" data-position="bottom" data-delay="50" data-tooltip="Eliminar"><i class="fa fa-trash"></i></a>
                        </td>
                        <td (click)="item.showMedicines=!item.showMedicines">
                            <i *ngIf="item.showMedicines" class="material-icons less">expand_less</i>
                            <i *ngIf="!item.showMedicines" class="material-icons more">expand_more</i>
                        </td>
                    </tr>
                    <tr *ngIf="item.showMedicines">
                    <td [attr.colspan]="5" style="padding:5px;">
                        <table class="highlight centered">
                            <thead>
                                <tr>
                                    <th class="text-left">Articulo</th>
                                    <th>Tipo</th>
                                    <th>Cantidad</th>
                                    <th>Hora</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let medicine of item.medicines">
                                    <td class="text-left">
                                        {{medicine.articleName}}
                                    </td>
                                    <td>{{medicine.type == 2 ? 'S.O.S' : 'GENERAL' }}</td>
                                    <td>{{medicine.quantity}}</td>
                                    <td>{{medicine.time | slice:0:5}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>
        
        
        
        
        
        
        







<!-- <a (click)="printReportSicknesses()">Reporte Enfermedades Infecciosas</a> -->
<app-modal-confirm [title]="'Eliminar Esquema'"
                   [message]="'¿Desea eliminar el esquema?'"
                   [openModalSubject]="modalDeleteSubject"
                   (agree)="deleteScheme()">
</app-modal-confirm>

<app-intelligent-report #iReport>
</app-intelligent-report>