<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Historias Clínicas {{patientId ? 'de ' + clinicHistoryService.patientName :
                    ''}}</span>
                <loading *ngIf="isLoading"></loading>

                <app-dynamic-filter [show]="!isLoading" [(controls)]="clinicHistoryService.controlsToFilter"
                    (filterChange)="onFilterChange($event)">
                </app-dynamic-filter>

                <table class="highlight centered" *ngIf="!isLoading">
                    <!-- <a class="btn-floating btn-small waves-effect waves-light" (click)="onActionClick('new')" style="top: 33px; right: 25px;"
                        materialize="tooltip" data-position="bottom" data-delay="50" data-tooltip="Nuevo">
                        <i class="fa fa-plus"></i>
                    </a> -->
                    <thead>
                        <tr>
                            <th class="text-left">Especialidad</th>
                            <th>Profesional</th>
                            <th>Práctica</th>
                            <th>Fecha Atencion</th>
                            <th>Fecha Turno</th>
                            <th>Fecha Evolucion</th>
                            <th>Fecha Alta Int.</th>
                            <th style="width: 6rem;"></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let item of dataSource" class="hoverable">
                        <tr>
                            <td [attr.colspan]="9" class="center-align row-patient">
                                <!-- <span (click)="printReportCH(item)" class="left print" materialize="tooltip" data-position="right" data-delay="50" data-tooltip="Imprimir">
                                    <i class="material-icons">print</i>
                                </span> -->
                                <!-- <i class="fa fa-print"></i> -->
                                <span (click)="showOrHideMPs(item)">{{item.key.name}}</span>
                                <!-- <a (click)="getLastSchemeAndDiagnostic(item)" materialize="tooltip" data-position="bottom"
                                    data-delay="50" data-tooltip="Ver diagnosticos y esquemas">
                                    <i class="fa fa-plus"></i>
                                </a> -->
                                <a 
                                (click)="getLastSchemeAndDiagnostic(item)"
                                    materialize="tooltip" data-position="right" 
                                    data-delay="50" data-tooltip="Ver diagnosticos y esquemas">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </a>
                                <span class="right" (click)="showOrHideMPs(item)">
                                    <i *ngIf="!item.hiddenMPs" class="material-icons less">expand_less</i>
                                    <i *ngIf="item.hiddenMPs" class="material-icons more">expand_more</i>
                                </span>
                            </td>
                        </tr>
                        <tr *ngIf="item.hiddenDiag">
                            <td [attr.colspan]="9" >
                                <div *ngIf="!item.gettedPharmacyAndDiagnostic" class="progress">
                                    <div class="indeterminate"></div>
                                </div>
                                <div *ngIf="item.hiddenDiag" class="row-card left-align">
                                    <div class="col s12 ">
                                        <strong>Ultimo Diagnostico:</strong>
                                        <span *ngIf="!!item.diagnosticLast">{{item.diagnosticLast?.name}}</span>
                                        <span class="span-text" *ngIf="!item.diagnosticLast">Sin Datos</span>
                                        <span class="span-text" *ngIf="!!item.diagnosticLast"><strong>Fecha:</strong> {{item.diagnosticLast?.date | date: 'dd/MM/yyyy'}}</span>
                                        <span class="span-text" *ngIf="!!item.diagnosticLast"><strong>Modalidad:</strong> {{item.diagnosticLast?.isFromInternment ? 'Internacion' : 'Ambulatorio'}}</span>
                                    </div>
                                    
                                    
                                </div>
                                <div *ngIf="item.hiddenDiag" class="row-card left-align">
                                    <div>
                                        <div class="col s12">
                                            <strong>Esquema de Medicación: </strong>
                                            <span *ngIf="!item.pharmacySchemeLast?.length">Sin Datos</span>
                                            <span class="span-text" *ngIf="!!item.pharmacySchemeLast?.length">
                                                <strong>DESDE:</strong>
                                                {{item.dateIni}}
                                            </span>
                                            <span class="span-text" *ngIf="!!item.pharmacySchemeLast?.length">
                                                <strong>HASTA</strong>
                                                {{item.dateEnd}}
                                            </span>
                                        </div>
                                        <div *ngIf="!!item.pharmacySchemeLast?.length" class="col s12">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Hora</th>
                                                        <th>Codigo</th>
                                                        <th>Nombre</th>
                                                        <th>Cantidad</th>
                                                        <th>Tipo</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let p of item.pharmacySchemeLast">
                                                    <td>{{p.time | slice:0:5}}</td>
                                                    <td>{{p.articleCode}}</td>
                                                    <td>{{p.articleName}}</td>
                                                    <td>{{p.quantity}}</td>
                                                    <td>{{p.typeText}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </td>                       
                        </tr>
                        <ng-container *ngFor="let mp of item.movementWithEvolutions">
                            <tr [hidden]="item.hiddenMPs">
                                <td class="text-left">
                                    {{mp.specialtyName}}
                                </td>
                                <td>{{mp.professionalName}}</td>
                                <td>{{mp.practiceName}}</td>
                                <td>{{mp.date | date:'dd/MM/yyyy'}}</td>
                                <td>{{mp.turnDate | date:'dd/MM/yyyy'}}</td>
                                <td></td>
                                <td>{{mp.highDate | date:'dd/MM/yyyy'}}</td>
                                <td style="white-space: nowrap;">
                                    <a (click)="onActionClick('new', mp)" materialize="tooltip" data-position="bottom"
                                       data-delay="50" data-tooltip="Nueva Evolución">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                    <a (click)="printReportMP(mp)" materialize="tooltip" data-position="bottom"
                                       data-delay="50" data-tooltip="Imprimir">
                                        <i class="fa fa-print"></i>
                                    </a>
                                    <!-- <a (click)="onActionClick('detail', e)" materialize="tooltip" data-position="bottom" data-delay="50" data-tooltip="Detalle">
                                        <i class="fa fa-search-plus"></i>
                                    </a> -->
                                    <!-- <a (click)="printReportCHE(e.id)" materialize="tooltip" data-position="bottom" data-delay="50" data-tooltip="Imprimir">
                                        <i class="fa fa-print"></i>
                                    </a> -->
                                </td>
                                <td>
                                    <div class="right" (click)="showOrHideEvolutions(mp)" [hidden]="!mp.evolutions.length">
                                        <i *ngIf="!mp.hiddenEvolutions" class="material-icons less">expand_less</i>
                                        <i *ngIf="mp.hiddenEvolutions" class="material-icons more">expand_more</i>
                                    </div>
                                </td>
                            </tr>
                            <tr *ngFor="let e of mp.evolutions" [hidden]="mp.hiddenEvolutions || item.hiddenMPs">
                                <td class="text-left">
                                    {{e.specialtyName}}
                                </td>
                                <td>{{e.professionalName}}</td>
                                <td>{{e.practiceName}}</td>
                                <td></td>
                                <td></td>
                                <td>{{e.date | date:'dd/MM/yyyy'}}</td>
                                <td></td>
                                <td style="white-space: nowrap;">
                                    <a (click)="onActionClick('edit', e)" materialize="tooltip" data-position="bottom"
                                        data-delay="50" data-tooltip="Editar">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a (click)="onActionClick('detail', e)" materialize="tooltip" data-position="bottom"
                                        data-delay="50" data-tooltip="Detalle">
                                        <i class="fa fa-search-plus"></i>
                                    </a>
                                    <a (click)="printReportCHE(e.id)" materialize="tooltip" data-position="bottom"
                                        data-delay="50" data-tooltip="Imprimir">
                                        <i class="fa fa-print"></i>
                                    </a>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>

                <app-paginator [show]="!isLoading" (pageChange)="onPageChange()">
                </app-paginator>

                <div class="center-align margin top-s" *ngIf="!!clinicHistoryService.patientId">
                    <button type="button" class="waves-effect waves-light btn btn-form center" (click)="onReturn()">Volver</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!disableButtonFloating&&!isLoading" class="fixed-action-btn vertcal">
    <a class="btn-floating btn-large light-blue tooltipped" materialize="tooltip" 
    (click)="printHCGral()" data-position="left" data-delay="50"
    data-tooltip="Reporte">
        <i class="material-icons">print</i>
    </a>
</div>
<app-intelligent-report #iReport>
</app-intelligent-report>