<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <app-dynamic-table
                    [sourceService]="turnConsultationService"
                    [title]="'Turnos del Día'"
                    [columns]="columns"
                    [controlsToFilter]="controlsToFilter"
                    [disabledNew]="true"
                    [disableButtonFloating]="true"
                    [enabledPrint]="true"
                    [disabledEdit]="false"
                    [permissionCode]="'CONSUTURNO'"
                    (actionClick)="onActionClick($event)">
                </app-dynamic-table>
            </div>
        </div>
    </div>

    <app-modal-confirm
        [title]=" newTurnState.titleModal + ' Turno'"
        [message]="'¿Desea modificar el estado del turno?'"
        [openModalSubject]="openModalUpdateStateSubject"
        (agree)="updateTurnState()">
    </app-modal-confirm>

    <app-modal-confirm
        [title]=" 'Observacion del Turno'"
        [message]="obs"
        [openModalSubject]="openModalObservationSubject"
        (agree)="onAceptObs()">
    </app-modal-confirm>

    <!-- Modal structure centered  -->
    <div id="modalDetailTurn" class="modal modal-styles modal-detail-turn" materialize="modal" [style.width]="'600px'" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActionsDetailTurn">
        <div class="modal-content">
            <h5 class="center-align">Detalle de turno</h5>
            <div class="row">
                <div class="input-field col s6">
                    <input id="autCode" [(ngModel)]="codAut" type="text" required>
                    <label for="autCode" >C&oacute;digo de Autorizaci&oacute;n</label>
                </div>
                <div class="input-field col s6">
                    <input id="coinsurance" 
                    (ngModelChange)="updateTotal($event)"
                    [(ngModel)]="detailTurn.coinsurance" type="text" >
                    <label for="coinsurance" >Coseguro</label>
                </div>
            </div>
            
            <p><span class="label">Histria Clinica:</span> {{detailTurn.clinicHistoryNumber}}</p>
            <p><span class="label">Paciente:</span> {{detailTurn.patientName}}</p>
            <p><span class="label">Especialidad:</span> {{detailTurn.specialtyName}}</p>
            <p><span class="label">O.S.:</span> {{detailTurn.medicalInsuranceName}}</p>
            <p><span class="label">Práctica:</span> {{detailTurn.practiceDescription}}</p>
            <p><span class="label">Coseguro:</span> $ {{detailTurn.coinsurance}}</p>
            
            <!-- <p><span class="label">Coseguro Eventual:</span> $ {{detailTurn.eventualCoinsurance}}</p> -->
            <p><span class="label">Cobertura Médica:</span> {{detailTurn.medicalCoverage}} %</p>
            <p><span class="label">Precio:</span>$ {{detailTurn.price}}</p>
            <p class="box-total"><span class="label">Total a pagar:</span> $ {{detailTurn.total}}</p>
            <!-- <hr class="hr-style"> -->
        </div>
        <div class="modal-footer ">
            <button type="button" class="waves-effect waves-light btn btn-form center"
                (click)="closeModalDetailTurn()">Aceptar</button>
        </div>
    </div>
</div>

<app-intelligent-report #iReport>
</app-intelligent-report>

<!-- <div class="fixed-action-btn vertcal">
    <a class="btn-floating btn-large light-blue tooltipped" materialize="tooltip" (click)="printTurnConsultations()" data-position="left" data-delay="50"
    data-tooltip="Reporte">
        <i class="material-icons">print</i>
    </a>
</div> -->

<!-- BOTON FLOTANTE -->
<div class="fixed-action-btn vertcal">
    <a class="btn-floating btn-large red">
        <i class="large material-icons">menu</i>
    </a>
    <ul>
        <li><a (click)="downloadReportXLSX()" id="exportXLSX"  materialize="tooltip" class="btn-floating green btn tooltipped" data-position="left" data-delay="50" data-tooltip="Exportar a Exel"><i class="material-icons">file_download</i></a></li>
        <li><a (click)="printTurnConsultations()"  materialize="tooltip" class="btn-floating light-blue btn tooltipped" data-position="left" data-delay="50" data-tooltip="Imprimir"><i class="material-icons">print</i></a></li>
        <!-- <li><a (click)="openModal1()" *ngIf="showBtnToExport" materialize="tooltip" class="btn-floating  blue-grey lighten-3 btn tooltipped" data-position="left" data-delay="50" data-tooltip="Enviar por E-mail"><i class="material-icons">contact_mail</i></a></li> -->
    </ul>
</div>