<div class="row">
	<div class="col s12">
		<div class="card">
			<div class="card-content">
				<div class="row">
					<div class="col s12 m6">
						<span class="card-title left-align" style="margin-left: -.75rem;">{{(!isEdit ? 'Nuevo' : 'Editar')}} Paciente</span>
					</div>
					<div *ngIf="isEdit && !isLoading && !!form" class="col s12 m6">
						<button type="button" class="waves-effect waves-light btn btn-form right blue" (click)="showClinicHistory()" style="margin-right: -.75rem;">Historia Clínica</button>
					</div>
				</div>
				<loading *ngIf="isLoading"></loading>
				<form #f="ngForm" [formGroup]="form" (ngSubmit)="onSubmit($event)" *ngIf="!isLoading && !!form">
					<ul materialize="collapsible" class="collapsible" data-collapsible="expandable">
						<li>
							<div class="collapsible-header active blue lighten-2 white-text">
								<i class="material-icons">account_circle</i>
								<span class="full-width">Datos personales</span>
								<i class="material-icons less">expand_less</i>
								<i class="material-icons more">expand_more</i>
							</div>
							<div class="collapsible-body">
								<div class="row">
									<div class="col s3">
										<div class="cover">
											<img id="imgSRC" class="responsive-img" [src]="src" *ngIf="src && !isLoadingImage">
											<loading *ngIf="isLoadingImage"></loading>
										</div>
										<div class="file-field">
											<input id="file-input" type="file" (change)="selected($event)" style="display: none" accept="image/*">
											<div class="btn cyan button-upload-image" (click)="clickFile()">
												<span>Imagen</span>
											</div>
										</div>
									</div>
									<div class="col s9 row">
										<div class="input-field col s6">
											<input id="surname" class="validate" formControlName="surname" type="text" maxlength="35" required>
											<label for="surname" [class.active]="form.value.surname">Apellido</label>
											<app-control-error-message [form]="f" [control]="{key:'surname', minlength: 4}"></app-control-error-message>
										</div>
										<div class="input-field col s6">
											<input id="name" class="validate" formControlName="name" type="text" maxlength="35" required>
											<label for="name" [class.active]="form.value.name">Nombre</label>
											<app-control-error-message [form]="f" [control]="{key:'name'}"></app-control-error-message>
										</div>
										<div class="input-field col s3">
											<select formControlName="identi" materialize="material_select" [materializeSelectOptions]="documentTypes"
											 (change)="onChangeIdenti()" required>
												<option value="" disabled selected>Elija una opción</option>
												<option *ngFor="let opt of documentTypes" [value]="opt.number">{{opt.name}}</option>
											</select>
											<label>Tipo</label>
											<app-control-error-message [show]="!form.value.identi  && form.value.identi != 0"></app-control-error-message>
										</div>
										<div class="input-field col s4">
											<input id="cuit" class="validate" [class.invalid]="form.get('cuit')?.invalid" formControlName="cuit" type="text"
											 maxlength="13" required>
											<label for="cuit" [class.active]="form.value.cuit">{{cuitLabel}}</label>
											<app-control-error-message [form]="f" [control]="{key:'cuit'}"></app-control-error-message>
										</div>
									    <div class="input-field col s3">
									        <input id="birthdate" class="datepicker" formControlName="birthdate" type="text" materialize="pickadate"
												   [materializeParams]="[datePickerOptions]" [attr.data-value]="form.value.birthdate" (change)="updateYears()">
									        <label for="birthdate" [class.active]="form.value.birthdate">Fecha de nacimiento</label>
									    </div>
									    <div class="input-field col s2">
									        <input id="years" type="text" [value]="years" readonly/>
                                            <label for="birthdate" [class.active]="years">Edad</label>
									    </div>
 										<div class="input-field col s6">
											<select formControlName="genreNumber" materialize="material_select" [materializeSelectOptions]="genres"
											 required>
												<option value="" disabled selected>Elija una opción</option>
												<option *ngFor="let opt of genres" [value]="opt.number">{{opt.name}}</option>
											</select>
											<label>Sexo</label>
											<app-control-error-message [show]="!form.value.genreNumber && form.value.genreNumber != 0"></app-control-error-message>
										</div>
										<div class="input-field col s6">
											<select formControlName="civilStateNumber" materialize="material_select" [materializeSelectOptions]="civilStates">
												<option value="" disabled selected>Elija una opción</option>
												<option *ngFor="let opt of civilStates" [value]="opt.number">{{opt.name}}</option>
											</select>
											<label>Estado civil</label>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="collapsible-header blue lighten-2 white-text">
								<i class="material-icons">perm_phone_msg</i>
								<span class="full-width">Datos de contacto</span>
								<i class="material-icons less">expand_less</i>
								<i class="material-icons more">expand_more</i>
							</div>
							<div class="collapsible-body">
								<div class="row">
									<div class="input-field col s4">
										<input id="address" class="validate" formControlName="address" type="text" maxlength="40">
										<label for="address" [class.active]="form.value.address">Dirección</label>
									</div>
									<div class="input-field col s4">
										<input id="quarter" class="validate" formControlName="quarter" type="text" maxlength="40">
										<label for="quarter" [class.active]="form.value.quarter">Barrio</label>
									</div>
									<div class="input-field col s4">
										<select formControlName="zone" materialize="material_select" [materializeSelectOptions]="zones" required>
											<option value="" disabled selected>Elija una opción</option>
											<option *ngFor="let zon of zones" [value]="zon.number">{{zon.name}}</option>
										</select>
										<label>Zona</label>
										<app-control-error-message [show]="!form.value.zone"></app-control-error-message>
									</div>
									<div class="input-field col s12 m3">
										<input-auto-complete [label]="'Provincia'" [requiredIAC]="true" [form]="form" [formControlNameIAC]="'province'"
										 [functionForData]="functionForProvinces" (valueChange)="onProvinceChange($event)">
										</input-auto-complete>
									</div>
									<div class="input-field col s12 m3">
										<input-auto-complete [label]="'Localidad'" [requiredIAC]="true" [form]="form" [formControlNameIAC]="'locality'"
										 [source]="localities" [isLoading]="loadingLocalityIAC">
										</input-auto-complete>
									</div>
									<div class="input-field col s12 m3">
										<input id="phone" class="validate" formControlName="phone" type="text" maxlength="40">
										<label for="phone" [class.active]="form.value.phone">Teléfono</label>
									</div>
									<div class="input-field col s12 m3">
										<input id="movil" class="validate" formControlName="movil" type="text" maxlength="40">
										<label for="movil" [class.active]="form.value.movil">Celular</label>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="collapsible-header blue lighten-2 white-text">
								<i class="material-icons">account_balance</i>
								<span class="full-width">Datos de obra social</span>
								<i class="material-icons less">expand_less</i>
								<i class="material-icons more">expand_more</i>
							</div>
							<div class="collapsible-body">
								<div class="row">
									<div *ngIf="!showPatientOsView">
										<app-dynamic-table [sourceService]="patientMedicalInsuranceService" [columns]="columns" [disabledDetail]=true
										 [disableButtonFloating]="true" [hideFilters]="true" [reloadingData]="reloadingData" (reloadingDataChange)="updateReloadingData($event)"
										 (actionClick)="onActionClick($event)">
										</app-dynamic-table>
									</div>
									<div *ngIf="showPatientOsView">
										<patient-medical-insurance-form [patientMedicalInsurance]="patientMedicalInsurance" [isPatientEdit]="isEdit"
										 (saveClick)="onActionSave($event)" (cancelClick)="onActionCancel($event)">
										</patient-medical-insurance-form>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="collapsible-header blue lighten-2 white-text">
								<i class="material-icons">accessibility</i>
								<span class="full-width">Datos médicos</span>
								<i class="material-icons less">expand_less</i>
								<i class="material-icons more">expand_more</i>
							</div>
							<div class="collapsible-body">
								<div class="row">
									<div class="input-field col s12 m4">
										<input id="children" class="validate" formControlName="children" type="number">
										<label for="children" [class.active]="form.value.children">Hijos</label>
										<app-control-error-message [form]="f" [control]="{key:'children'}"></app-control-error-message>
									</div>
									<div class="input-field col s12 m4">
										<input id="stature" class="validate" formControlName="stature" type="number" step=".01">
										<label for="stature" [class.active]="form.value.stature">Estatura</label>
										<app-control-error-message [form]="f" [control]="{key:'stature'}"></app-control-error-message>
									</div>
									<div class="input-field col s12 m4">
										<input id="weight" class="validate" formControlName="weight" type="number" step=".01">
										<label for="weight" [class.active]="form.value.weight">Peso</label>
										<app-control-error-message [form]="f" [control]="{key:'weight'}"></app-control-error-message>
									</div>
									<div class="input-field col s12 m4">
										<select formControlName="bloodType" materialize="material_select" [materializeSelectOptions]="bloodTypes">
											<option value="" disabled selected>Elija una opción</option>
											<option *ngFor="let opt of bloodTypes" [value]="opt.number">{{opt.name}}</option>
										</select>
										<label>Grupo Sanguíneo</label>
									</div>
									<div class="input-field col s12 m4">
										<input id="clinicHistoryNumber" class="validate" formControlName="clinicHistoryNumber" type="text" maxlength="20">
										<label for="clinicHistoryNumber" [class.active]="form.value.clinicHistoryNumber">Número de historia clínica</label>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="collapsible-header blue lighten-2 white-text">
								<i class="material-icons">broken_image</i>
								<span class="full-width">Datos contables</span>
								<i class="material-icons less">expand_less</i>
								<i class="material-icons more">expand_more</i>
							</div>
							<div class="collapsible-body">
								<div class="row">
									<div class="input-field col s4">
										<select formControlName="ivaReg" materialize="material_select" [materializeSelectOptions]="regIvas" required>
											<option value="" disabled selected>Elija una opción</option>
											<option *ngFor="let iva of regIvas" [value]="iva.number">{{iva.name}}</option>
										</select>
										<label>Reg. Iva</label>
										<app-control-error-message [show]="!form.value.ivaReg"></app-control-error-message>
									</div>
									<div class="input-field col s4">
										<select formControlName="ibrReg" materialize="material_select" [materializeSelectOptions]="regIbrs" required>
											<option value="" disabled selected>Elija una opción</option>
											<option *ngFor="let regi of regIbrs" [ngValue]="regi.number">{{regi.name}}</option>
										</select>
										<label>Reg. Ibr</label>
										<app-control-error-message [show]="!form.value.ibrReg"></app-control-error-message>
									</div>
									<div class="input-field col s4">
										<input id="ingbru" class="validate" type="text" formControlName="ingbru" maxlength="20">
										<label [class.active]="form.value.ingbru" for="ingbru">Ingresos Brutos</label>
										<app-control-error-message [form]="f" [control]="{key:'ingbru'}"></app-control-error-message>
									</div>
									<div class="input-field col s4">
										<select formControlName="aliibr" materialize="material_select" [materializeSelectOptions]="grossinAliquots" required>
											<option value="" disabled selected>Elija una opción</option>
											<option *ngFor="let gross of grossinAliquots" [ngValue]="gross.number">{{gross.name}}</option>
										</select>
										<label>Alicuota Ibr</label>
										<app-control-error-message [show]="!form.value.aliibr && form.value.aliibr != 0"></app-control-error-message>
									</div>
									<div class="input-field col s4">
										<select formControlName="category" materialize="material_select" [materializeSelectOptions]="categories" required>
											<option value="" disabled selected>Elija una opción</option>
											<option *ngFor="let cat of categories" [ngValue]="cat.number">{{cat.name}}</option>
										</select>
										<label>Categoria</label>
										<app-control-error-message [show]="!form.value.category"></app-control-error-message>
									</div>
									
									<div class="row">
										<div class="input-field col s6">
											<input id="bank" type="text" formControlName="bank" class="validate" maxlength="40">
											<label [class.active]="form.value.bank" for="bank">Banco</label>
										</div>
										<div class="input-field col s6">
											<input id="cbu" type="text" formControlName="cbu" class="validate" maxlength="25">
											<label [class.active]="form.value.cbu" for="cbu">CBU</label>
										</div>
									</div> 
								</div>
							</div>
						</li>
						<li *ngIf="isEdit">
							<div class="collapsible-header blue lighten-2 white-text"><i class="material-icons">local_hospital</i><span
								 class="full-width">Diagnosticos</span><i class="material-icons less">expand_less</i><i class="material-icons more">expand_more</i></div>
							<div class="collapsible-body">
								<div class="row">
									<app-dynamic-table 
										[sourceService]="patientService" 
										[methodNameForList]="'getDiagnostic'" 
										[columns]="patientService.columnsDiagnostic"
										[hideActions]=true 
										[hideFilters]="true" 
										[disableButtonFloating]=true>
									</app-dynamic-table>
								</div>
							</div>
						</li>
						<li *ngIf="isEdit">
							<div class="collapsible-header blue lighten-2 white-text">
								<i class="material-icons">account_balance</i>
								<span class="full-width">Datos de Responsables</span>
								<i class="material-icons less">expand_less</i>
								<i class="material-icons more">expand_more</i>
							</div>
							<div class="collapsible-body">
								<div class="row">
									<div *ngIf="!showPatientResponsibleView">
										<app-dynamic-table [sourceService]="responsiblePatientService" 
											[methodNameForList]="'getAllResponsableByPatient'"
											[columns]="responsiblePatientService.columns" 
											[disabledDetail]=true
											[disableButtonFloating]="true" 
											[hideFilters]="true" 
											[reloadingData]="reloadingDataResponsible" 
											(reloadingDataChange)="updateReloadingDataResponsibles($event)"
											(actionClick)="onActionClickResponsible($event)">
										</app-dynamic-table>
									</div>
									<div *ngIf="showPatientResponsibleView">
										<responsible-patient-form [responsiblePatient]="responsiblePatient" 
											[isPatientResponsibleEdit]="isEditResponsible"
										 	(closeViewClick)="onActionCloseResponsibleView($event)">
										</responsible-patient-form>
									</div>
								</div>
							</div>
						</li>
					</ul>
					<div class="row center-align">
						<button-submit [btntext]="'Guardar'" [loadingGlobal]="true" [btnType]="'submit'" [btnDisabled]="!form.valid"
						 [isLoading]="loading">
						</button-submit>
						<!-- <button type="submit" [disabled]="!f.form.valid || !isMedicalEnsuranceLoaded" class="waves-effect waves-light btn btn-form center blue z-index-0">  Guardar</button> -->
						<!-- <button type="submit" [disabled]="!f.form.valid || !isMedicalEnsuranceLoaded || !isLoadedProvince || !isLoadedLocality" class="waves-effect waves-light btn btn-form center blue z-index-0">Guardar</button> -->
						<button type="button" class="waves-effect waves-light btn btn-form center red z-index-0" (click)="onCancelButton()">Cancelar</button>
					</div>
				</form>
				<app-not-found *ngIf="!isLoading && !form" returnPath="/archivos/pacientes"></app-not-found>
			</div>
		</div>
	</div>
	<app-modal-confirm [title]="patient.accountNumber ? 'Editar' : 'Alta'" [message]="'¿Desea regresar sin guardar los cambios?'"
	 [openModalSubject]="openModalSubject" (agree)="onAgree()">
	</app-modal-confirm>
	<app-modal-confirm [title]="'Eliminar Obra Social de Paciente'" [message]="'¿Desea eliminar la obra social del paciente?'"
	 [openModalSubject]="deleteModalSubject" (agree)="onDeleteConfirm($event)">
	</app-modal-confirm>
	<app-modal-confirm [title]="'Eliminar Responsable de Paciente'" [message]="'¿Desea eliminar responsable del paciente?'"
	 [openModalSubject]="deleteModaResponsiblelSubject" (agree)="onDeleteConfirmResponsible($event)">
	</app-modal-confirm>
</div>