<div class="row">
	<div class="col s12">
		<div class="card">
			<div class="card-content">
				<app-dynamic-table [sourceService]="patientResponsibleService"
								   [title]="'Responsables de paciente'"
								   [columns]="columns"
								   [reloadingData]="reloadingData"
								   [controlsToFilter]="controlsToFilter"
								   (actionClick)="onActionClick($event)"
								   [permissionCode]="'ABMRESPONS'"
								   (reloadingDataChange)="updateReloadingData($event)">
				</app-dynamic-table>
			</div> 
		</div>
	</div>
	<app-modal-confirm [title]="'Eliminar Responsable de Paciente'"
					   [message]="'¿Desea eliminar al responsable de paciente?'"
					   [openModalSubject]="deleteModalSubject"
					   (agree)="onDeleteConfirm()">
	</app-modal-confirm>
</div>