<div class="row">
  <div class="col s12">
      <div class="card">
          <div class="card-content">
              <app-dynamic-table
                  [sourceService]="wardSectorService"
                  [title]="'Sectores de Sala'"
                  [columns]="columns"
                  [reloadingData]="reloadingData"
                  [permissionCode]="'ABMSECSALA'"
                  (actionClick)="onActionClick($event)"
                  (reloadingDataChange)="updateReloadingData($event)">
              </app-dynamic-table>
          </div>
      </div>
  </div>

  <app-modal-confirm
      [title]="'Eliminar Sector'"
      [message]="'¿Desea eliminar la sala?'"
      [openModalSubject]="openModalSubject"
      (agree)="onAgree()">
  </app-modal-confirm>
</div>