<div class="row">
    <div class="col s12" [hidden]="showConceptsForm">
        <div class="card">
            <div class="card-content">
                <span class="title center-align">Liquidación de Profesionales</span>
                <app-practices-to-liquidate (selectionEE)="onChangeOfSelection()" (filterChange)="onChangeOfSelection()">
                </app-practices-to-liquidate>
                <div class="row">
                    <div class="col s12">
                        <blockquote class="blockquote-info" *ngIf="!liquidacionValid">
                            Para poder liquidar debe tener por lo menos una práctica seleccionada.
                        </blockquote>
                    </div>
                </div>
                <div class="row margin top-s">
                    <div class="col s12 m8 labels">
                        <span class="label"> Prácticas a Liquidar: </span> {{itemsSelectedToLiquidate}}
                    </div>
                    <div class="col s12 m4 right-align">
                        <button-submit [btntext]="'Liquidar'" [btnDisabled]="!liquidacionValid" (formSubmit)="setProfessionalConcepts()">
                        </button-submit>
                        <button type="button" class="waves-effect waves-light btn btn-form center red" (click)="reset()">
                            Limpiar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div [hidden]="!showConceptsForm">
        <professional-liquidation-contract [isSaving]="isSaving"
                                           (cancelEvent)="showOrHideForm($event)"
                                           (submitEvent)="liquidateProfessional()">
        </professional-liquidation-contract>
    </div>
</div>
<app-intelligent-report #iReport>
</app-intelligent-report>
