<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content" [hidden]="showPharmacySchemeEditForm || showDiagnosticForm || showPharmacySchemeNewForm">
                <span class="card-title center-align">{{readonlyCH ? 'Detalle de ' : isNewCH ? 'Nueva': 'Editar'}} Evolucion</span>
                <loading *ngIf="isLoading"></loading>
                <form #f="ngForm" [formGroup]="form" (ngSubmit)="save()" *ngIf="!isLoading && !!form">
                    <div class="row">
                        <div class="input-field col s12 m8">
                            <app-input-search [label]="'Paciente'" [requiredIS]="true"
                                              [form]="form" [formControlNameIS]="'patientId'"
                                              [readonlyIS]="(isNewCH  && patientMovementId) || !isNewCH" [readonlyValue]="clinicHistory.patientName"
                                              (valueChange)="onChangePatient()">
                            </app-input-search>
                        </div>
                        <div class="input-field col s12 m4">
                            <input-auto-complete [label]="'Obra social'" [requiredIAC]="true"
                                                 [form]="form" [formControlNameIAC]="'medicalInsuranceId'"
                                                 [readonlyIAC]="(isNewCH  && patientMovementId) || !isNewCH" [readonlyValue]="clinicHistory.medicalInsuranceName"
                                                 [source]="medicalInsurances" [isLoading]="loadingMInsuranceIAC"
                                                 (valueChange)="onChangeMI()">
                            </input-auto-complete>
                        </div>
                        
                        <div class="input-field col s12 m8">
                            <input-auto-complete [label]="'Profesional'" [requiredIAC]="true"
                                                 [form]="form" [formControlNameIAC]="'professionalId'"
                                                 [readonlyIAC]="!isNewCH" [readonlyValue]="clinicHistory.professionalName"
                                                 [source]="professionals" [isLoading]="loadingProfessionalIAC"
                                                 (valueChange)="onChangeProfessional()">
                            </input-auto-complete>
                        </div>

                        <div class="input-field col s12 m4">
                            <input-auto-complete [label]="'Especialidad'" [requiredIAC]="true"
                                                 [form]="form" [formControlNameIAC]="'specialtyId'"
                                                 [readonlyIAC]="!isNewCH" [readonlyValue]="clinicHistory.specialtyName"
                                                 [source]="specialties" [isLoading]="loadingSpecialtyIAC"
                                                 (valueChange)="onChangeSpecialty()">
                            </input-auto-complete>
                        </div>
                        
                        <div class="input-field col s12 m12">
                            <input-auto-complete [label]="'Práctica'" [requiredIAC]="true"
                                                 [form]="form" [formControlNameIAC]="'practiceId'"
                                                 [readonlyIAC]="!isNewCH" [readonlyValue]="clinicHistory.practiceName"
                                                 [source]="practices" [isLoading]="loadingPracticeIAC"
                                                 (valueChange)="onChangePractice()">
                            </input-auto-complete>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m2">
                            <input id="document" [ngModel]="patient.account.cuit" [ngModelOptions]="{standalone: true}" type="text" readonly>
                            <label for="document" [class.active]="patient.account?.cuit">Documento</label>
                        </div>
                        <div class="input-field col s12 m2">
                            <input id="phone" [ngModel]="patient.account.phone" [ngModelOptions]="{standalone: true}" type="text" readonly>
                            <label for="phone" [class.active]="patient.account?.phone">Teléfono</label>
                        </div>
                        <div class="input-field col s12 m2">
                            <input id="children" [ngModel]="patient.children" [ngModelOptions]="{standalone: true}" type="number" readonly>
                            <label for="children" [class.active]="patient.children">Hijos</label>
                        </div>
                        <div class="input-field col s12 m2">
                            <input id="stature" [ngModel]="patient.stature" [ngModelOptions]="{standalone: true}" type="text" readonly>
                            <label for="stature" [class.active]="patient.stature">Estatura</label>
                        </div>
                        <div class="input-field col s12 m2">
                            <input id="weight" [ngModel]="patient.weight" [ngModelOptions]="{standalone: true}" type="text" readonly>
                            <label for="weight" [class.active]="patient.weight">Peso</label>
                        </div>
                        <div class="input-field col s12 m2">
                            <input id="bloodGroupName" [ngModel]="patient.bloodGroupName" [ngModelOptions]="{standalone: true}" type="text" readonly>
                            <label [class.active]="patient.bloodGroupName" for="bloodGroupName">Grupo Sanguineo</label>
                        </div>
                        <div class="input-field col s12 m2">
                            <input id="genreName" [ngModel]="patient.genreName" [ngModelOptions]="{standalone: true}" type="text" readonly>
                            <label [class.active]="patient.genreName" for="genreName">Sexo</label>
                        </div>
                        <div class="input-field col s12 m2">
                            <input id="carnetNumber" [ngModel]="patient.carnetNumber" [ngModelOptions]="{standalone: true}" type="text" readonly>
                            <label [class.active]="patient.carnetNumber" for="carnetNumber">Numero de Carnet</label>
                        </div>
                        <div class="input-field col s12 m2">
                            <input id="attentionDate" [ngModel]="clinicHistory.date | date :'dd/MM/yyyy'" [ngModelOptions]="{standalone: true}" type="text" readonly>
                            <label [class.active]="clinicHistory.date" for="attentionDate">Fecha de Atencion</label>
                        </div>
        
                    </div>
                    <br />
                    <div class="row">
                        <div>
                            <ul class="tabs" materialize="tabs">
                                <li class="tab col s4" (click)="changeActiveTab('items')">
                                    <a [class.active]="activeTab == 'items'" href="#items">ITEMS</a>
                                </li>
                                <li class="tab col s4" (click)="changeActiveTab('pharmacyScheme')">
                                    <a [class.active]="activeTab == 'pharmacyScheme'" href="#pharmacyScheme">ESQ. MEDICAMENTOS</a>
                                </li>
                                <li class="tab col s4" (click)="changeActiveTab('diagnostics')">
                                    <a [class.active]="activeTab == 'diagnostics'" href="#diagnostics">DIAGNóSTICOS</a>
                                </li>
                            </ul>
                        </div>
                        <div id="items" class="col s12">
                            <span class="" *ngIf="showMsgItemsNotFound && !showItems"> La Práctica seleccionada no tiene asociado items.</span>
                            <span class="" *ngIf="!showMsgItemsNotFound && !showItems">Seleccione una Práctica para cargar los items.</span>
                            <div class="row" *ngIf="showItems">
                                <span class="card-title">Items</span>
                                <div [formGroup]="formForItems">
                                    <div class="row">
                                        <app-dynamic-form-control *ngFor="let ctrl of controlsForItems" [control]="ctrl" [form]="formForItems">
                                        </app-dynamic-form-control>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="pharmacyScheme" class="col s12">
                            <clinic-history-pharmacy-scheme-list #schemesListComponent
                                (actionClick)="onActionScheme($event)"
                                [readOnly]="readonlyCH">
                            </clinic-history-pharmacy-scheme-list>
                        </div>
                        <div id="diagnostics" class="col s12">
                            <diagnostic-movement-list
                                [readOnly]="readonlyCH"
                                (actionClick)="onActionDiagnostic($event)">
                            </diagnostic-movement-list>
                        </div>
                    </div>
                    <br />
                    <div class="col s12">
                        <blockquote class="blockquote-info">
                            <span *ngIf="!formForItems.valid">Para poder guardar: <br></span>
                            <span *ngIf="!formForItems.valid"> - Debe cargar los items requeridos.</span>
                        </blockquote>
                    </div>
                    <div class="row center-align" *ngIf="!readonlyCH">
                        <button *ngIf="!isSaving" type="submit"
                            [disabled]="!f.form.valid || !formForItems.valid"
                            class="waves-effect waves-light btn btn-form center blue z-index-0">Guardar</button>
                        <button *ngIf="isSaving" type="submit" class="waves-effect waves-light btn btn-form center blue" disabled>
                            <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                            Guardando
                        </button>
                        <button type="button" class="waves-effect waves-light btn btn-form center red" (click)="onCancelButtonOfCH()">Cancelar</button>
                    </div>
                    <div class="row center-align" *ngIf="readonlyCH">
                        <button type="button" class="waves-effect waves-light btn btn-form center blue" (click)="onReturnButtonOfCH()">Volver</button>
                    </div>
                </form>
            </div>
            <div *ngIf="showPharmacySchemeEditForm">
                <clinic-history-pharmacy-scheme-form (close)="closeScheme()"></clinic-history-pharmacy-scheme-form>
            </div>
            <div *ngIf="showDiagnosticForm">
                <diagnostic-movement-form (close)="closeDiagnosticForm()"></diagnostic-movement-form>
            </div>
            <div *ngIf="showPharmacySchemeNewForm">
                <pharmacy-new-items-form [hcId]="idCH" (closeView)="closeNewScheme()"></pharmacy-new-items-form>
            </div>

        </div>
    </div>
</div>
<app-modal-confirm [title]="!idCH ? 'Alta' : 'Editar'"
                   [message]="'¿Desea regresar sin guardar los cambios?'"
                   [openModalSubject]="openModalDiscardSubject"
                   (agree)="discardChanges()">
</app-modal-confirm>