<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <span class="title center-align">Farmacia - Medicamentos</span>
                <div class="row margin top-s">
                    <app-pharmacy-patients
                        [isActive]="isActive"
                        (selectionEE)="onChangeOfSelection()" 
                        (filterChange)="onChangeOfSelection()"
                        (dateChange)="onChangeDate($event)">
                    </app-pharmacy-patients>
                </div>
                <div class="row margin top-s">
                    <app-pharmacy-schemes (selectedChange)="selectedChange($event)" [isActive]="!isActive"></app-pharmacy-schemes>
                    <app-pharmacy-summary [reloadingDataSource]="reloadingSummary" [isActive]="!isActive"></app-pharmacy-summary>
                </div>
                <div class="row margin top-s">
                    <app-pharmacy-scheme-detail 
                        [isActive]="!isActive"
                        (sendReloading)="onReloadingSummary($event)"
                        [detail]="pharmacySchemeDetails">
                    </app-pharmacy-scheme-detail>
                </div>
                <div class="row margin top-s">
                    <div class="col s12 l3 center-align">
                        <label>
                            <input id="enablestock" type="checkbox" class="filled-in" [(ngModel)]="enableStock" [ngModelOptions]="{standalone: true}" />
                            <label for="enablestock">Hab. Stock</label>
                        </label>
                        <button-submit [btntext]="'Registrar Entrega'" [btnDisabled]="!hasItems()" (formSubmit)="sendPharmacyRecords()"></button-submit>
                    </div>
                    <div class="col s12 l4 center-align top-s" *ngIf="state==1">
                        <button-submit [btntext]="'SOS'" [btnDisabled]="!isValid()" (formSubmit)="formSosDev('sos')"></button-submit>
                        <button-submit [btntext]="'Devolucion'" [btnDisabled]="!isValid()" (formSubmit)="formSosDev()"></button-submit>
                    </div>
                    <div class="col s12 l4 center-align top-s" *ngIf="isDev || isSos">
                        <button-submit [btntext]="'Cargar Medicamentos'" [btnDisabled]="!isValid()" (formSubmit)="openModal()"></button-submit>
                    </div>
                    
                    <div class="col s12 l5 center-align top-s">
                        <button-submit [btntext]="getTextBtnSubmit()" [btnDisabled]="!isValid()" (formSubmit)="getPharmacySchemes()"></button-submit>
                        <button type="button" class="waves-effect waves-light btn btn-form center red" (click)="reset()">Limpiar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--MODAL-->
    <div class="modal modal-styles" id="modalDevolucion" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
        <div class="modal-content">
            <span class="title center-align">{{getTitleModal()}}</span>
            <div class="row margin top-s">
                <div class="row">
                    <form #f="ngForm" [formGroup]="form" *ngIf="!!form" (ngSubmit)="loadArticleDev()">
                        <div class="row">
                            <div class="input-field col s12 m8">
                                <input-auto-complete #articlesIAC [label]="'Artículo'" [form]="form"
                                    [formControlNameIAC]="'articleCode'" 
                                    [source]="articles"
                                    [displayPropertyName]="'name'"
                                    [valuePropertyName]="'id'" 
                                    [isLoading]="loadingArticles" 
                                    (valueChange)="onChangeIAC($event)">
                                </input-auto-complete>
                            </div>
                            <div class="input-field col s12 m2">
                                <input id="quantity" class="validate" type="number" formControlName="quantity" required>
                                <label for="quantity" [class.active]="form.value.quantity">Cantidad</label>
                                <app-control-error-message [form]="f" [control]="{key:'quantity'}"></app-control-error-message>
                            </div>
                            <div class="input-field col s12 m2">
                                <button type="submit" [disabled]="!f.form.valid" class="waves-effect waves-light btn btn-form center blue z-index-0">Agregar</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col s12" *ngIf="isOpenModal">
                    <span class="card-title center-align">{{getTitleTableModal()}}</span>
                    <app-dynamic-table
                        [sourceService]="pharmacyService"
                        [methodNameForList]="'getArticlesReturned'"
                        [columns]="columns"
                        [disabledNew]="true"
                        [disabledDetail]="true"
                        [disabledEdit]="true"
                        [disableButtonFloating]="true"
                        (actionClick)="onActionClick($event)">
                    </app-dynamic-table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="waves-effect waves-light btn btn-form center red" (click)="closeModal()">Cancelar</button>
            <button-submit [btntext]="'Confirmar'" data-dismiss="modal" (formSubmit)="processModal()" [btnDisabled]="isDisabled()" [isLoading]="isSaving" [loadingGlobal]="true"></button-submit>
        </div>
    </div>
</div>
<!-- Modal Structure -->

<!-- <app-modal-confirm 
    [title]="'Alta'" 
    [message]="'¿Desea regresar sin guardar los cambios?'" 
    [openModalSubject]="modalDiscardSubject"
    (agree)="confirmSend()">
</app-modal-confirm> -->

<app-intelligent-report #iReport>
</app-intelligent-report>