.modal-styles {
    z-index: 99300 !important;
}

.hover-teal:hover {
    background-color: #2bbbad;
    color: white;
}

.hover-red:hover {
    background-color: #ef5350;
    color: white;
}

.hr-style {
    border-width: 1px;
    border-color: #cacaca47;
    margin-top: 1.7rem;
}