<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <span class="card-title center-align">Detalle del Diagnóstico</span>
                <loading *ngIf="!isLoad"></loading>
                <div *ngIf="isLoad && !!diagnostic">
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">dehaze</i>
                            <input id="code" type="text" value="{{diagnostic.code}}" readonly>
                            <label for="code" class="active">Código</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">dehaze</i>
                            <input id="name" type="text" value="{{diagnostic.name}}" readonly>
                            <label for="name" class="active">Descripción</label>
                        </div>
                    </div>
                    <div class="center-align">
                        <a [routerLink]="['/archivos/diagnosticos']" class="waves-effect waves-light btn center-align red lighten-1">Cerrar</a>
                    </div>
                </div>
                <app-not-found *ngIf="isLoad && !diagnostic" [returnPath]="'/archivos/diagnosticos'"></app-not-found>
            </div>
        </div>
    </div>
</div>