<div class="container">
    <div class="card">
        <div class="card-content">
            <span class="card-title center-align">123</span> 
            <br />
          <!-- <loading *ngIf="isLoading"></loading> -->
            <!-- <form #f="ngForm" [formGroup]="form" (ngSubmit)="saveDiagnostic()" *ngIf="!isLoading && !!form">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="code" class="validate" formControlName="code" type="text" maxlength="20" required>
                        <label for="code" [class.active]="form.value.code">Código</label>
                        <app-control-error-message [form]="f" [control]="{key:'code'}"></app-control-error-message>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="name" class="validate" formControlName="name" type="text" maxlength="100" required>
                        <label for="name" [class.active]="form.value.name">Descripción</label>
                        <app-control-error-message [form]="f" [control]="{key:'name'}"></app-control-error-message>
                    </div>
                </div>
                <div class="row center-align">
                    <button type="submit" [disabled]="!f.form.valid" class="waves-effect waves-light btn btn-form center blue">Guardar</button>
                    <button type="button" class="waves-effect waves-light btn btn-form center red" (click)="onCancelButton()">Cancelar</button>
                </div>
            </form> -->
            <!-- <div *ngIf="!isLoading && !form">
                <div class="center-align" style="margin-bottom: 50px;margin-top: 20px;">
                    <span style="font-weight: bold;">NO HAY DATOS PARA MOSTRAR</span>
                </div>
                <div class="center-align">
                    <a [routerLink]="['/archivos/diagnosticos']" class="waves-effect waves-light btn center-align red lighten-1">Cerrar</a>
                </div>
            </div> -->
        </div>
    </div>
    <!-- <app-modal-confirm [title]="!!id ? 'Editar' : 'Alta'"
                       [message]="'¿Desea regresar sin guardar los cambios?'"
                       [openModalSubject]="openModalSubject"
                       (agree)="onAgree()">
    </app-modal-confirm> -->
</div>
