.divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.sub-title {
    font-weight: bold;
    padding-bottom: 5px;
}

[type="checkbox"]:checked:disabled + label:before {
    border-right: 2px solid #26a69a;
    border-bottom: 2px solid #26a69a;
}

.switch label input[type=checkbox]:checked:disabled + .lever {
    background-color: #84c7c1;
}

.switch label input[type=checkbox][disabled]:checked + .lever:after {
    background-color: #26a69a;
}