<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <span class="card-title center-align">Importacion de Tablas</span>
                <br/>
                <div class="card-content">
                    <form #f="ngForm" [formGroup]="form" *ngIf="!!form">

                        <div class="input-field col s12">
                            <iac-with-validation [label]="'Tabla'" [requiredIAC]="true" [form]="form" [formControlNameIAC]="'table'" [functionForData]="sourceTables"
                                [readonlyIAC]="isEdit" [legendInvalidState]="'Cargado'" [readonlyValue]="importData.table" (valueChange)="onChangeTableList($event)">
                            </iac-with-validation>
                        </div>
                        <loading *ngIf="isLoading"></loading>
                        <div class="row" *ngIf="!isLoading">
                            <table class="highlight table-sortable" id="table">
                                <thead>
                                    <tr>
                                        <th>Orden</th>
                                        <th>Nombre</th>
                                        <th>Relacion</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="!importFieldService.fields.length">
                                        <td colspan="4"> No hay elementos para mostrar.</td>
                                    </tr>
                                    <tr *ngFor="let item of importFieldService.fields">
                                        <td>
                                            <div class="">{{item.index}}</div>
                                        </td>
                                        <td>
                                            <div class="">{{item.name}}</div>
                                        </td>
                                        <td>
                                            <div class="">{{item.relation}}</div>
                                        </td>
                                        <td>
                                            <p>
                                                <input type="checkbox" [id]="item.index" [checked]="item.valid" (click)="selectedClick(item)"/>
                                                <label [attr.for]="item.index"></label>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <!-- <app-modal-confirm [title]="'Eliminar campo'" [message]="'¿Desea eliminar el campo?'" [openModalSubject]="deleteModalSubject"
                                (agree)="onDeleteConfirm($event)">
                            </app-modal-confirm> -->

                        </div>

                        <br/>

                        <div class="row left-align">
                            <button type="button" class="waves-effect waves-light btn btn-form blue" (click)="onSaveImport()">Guardar</button>
                            <button type="button" class="waves-effect waves-light btn btn-form red" (click)="onCancelButton()">Cancelar</button>
                        </div>
                    </form>

                    <app-modal-confirm [title]="isEdit ? 'Editar' : 'Alta'" [message]="'Desea regresar sin guardar los cambios?'" [openModalSubject]="openModalSubject"
                        (agree)="onConfirmClose()">
                    </app-modal-confirm>
                </div>
            </div>
        </div>
    </div>
</div>