<div id="modal-form"  class="modal modal-styles" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
    <div class="modal-content">
        <h4> Alta de Internacion</h4>
        <form #f="ngForm" [formGroup]="form" (ngSubmit)="onSubmit(form)" *ngIf="!!form">
            <div class="modal-body">
                <div class="row">
                    <div class="input-field col s12 m3">
                        <input id="departureDate" class="datepicker" formControlName="departureDate" type="text" materialize="pickadate" [materializeParams]="[datePickerOptions]"
                            [attr.data-value]="form.value.departureDate">
                        <label for="departureDate" [class.active]="true">Fecha de Alta</label>
                        <app-control-error-message [form]="f" [control]="{key:'departureDate'}"></app-control-error-message>
                    </div>
                    <div class="input-field col s12 m6">
                        <input id="departureTime" formControlName="departureTime" type="time" class="timepicker" materialize="pickatime" [materializeParams]="[timeOptions]" readonly>
                        <label class="active" for="departureTime" [class.active]="true">Hora</label>
                        
                        <app-control-error-message [form]="f" [control]="{key:'departureTime'}"></app-control-error-message>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button *ngIf="!isSaving" type="submit" [disabled]="!f.form.valid" class="waves-effect waves-light btn btn-form center blue z-index-0">Guardar</button>
                <button *ngIf="isSaving" type="submit" class="waves-effect waves-light btn btn-form center blue"
                    disabled>
                    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                    Guardar
                </button>
                <button type="button" class="waves-effect waves-light btn btn-form center red z-index-0" (click)="onCancel()">Cancelar</button>

            </div>
        </form>
    </div>
</div>