<div class="row">
        <span class="card-title center-align">Nuevo Paciente</span>
</div>
<br>
<loading *ngIf="isLoading"></loading>

<form #f="ngForm" [formGroup]="patientForm" *ngIf="!isLoading && !!patientForm">
    <ul materialize="collapsible" class="collapsible" data-collapsible="expandable">
        <li>
			<div class="collapsible-header active blue lighten-2 white-text"><i class="material-icons">account_circle</i><span class="full-width">Datos personales</span><i class="material-icons less">expand_less</i><i class="material-icons more">expand_more</i></div>
            <div class="collapsible-body">
                <div class="row">
                    <div class="input-field col s12 m6">
                        <input id="patientName" class="validate" formControlName="patientName" type="text" minlength="4" maxlength="40" (change)="validateForm()">
                        <label for="patientName" [class.active]="f.value.patientName">Nombre</label>
                        <app-control-error-message [form]="f" [control]="{key:'patientName', minlength: 4}"></app-control-error-message>
                    </div>
                    <div class="input-field col s12 m3">
                        <select id="patientIdentifierType" class="validate" formControlName="patientIdentifierType" materialize="material_select" [materializeSelectOptions]="documentTypes" (change)="onChangeDT()">
                            <option value="" disabled selected>Elija una opción</option>
                            <option *ngFor="let opt of documentTypes" [value]="opt.number">{{opt.name}}</option>
                        </select>
                        <label for="patientIdentifierType">Tipo</label>
                        <app-control-error-message [form]="f" [control]="{key: 'patientIdentifierType'}"></app-control-error-message>
                    </div>
                    <div class="input-field col s12 m3">
                        <input id="patientIdentifier" class="validate" formControlName="patientIdentifier" type="text" maxlength="13" (change)="validateForm()">
                        <label for="patientIdentifier" [class.active]="f.value.patientIdentifier">{{identTypeName}}</label>
                        <app-control-error-message [form]="f" [control]="{key:'patientIdentifier'}"></app-control-error-message>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 m4">
                        <select formControlName="zone" materialize="material_select" [materializeSelectOptions]="zones" (change)="validateForm()">
                            <option value="" disabled selected>Elija una opción</option>
                            <option *ngFor="let item of zones" [value]="item.number">{{item.name}}</option>
                        </select>
                        <label>Zona</label>
                        <app-control-error-message [form]="f" [control]="{key:'zone'}"></app-control-error-message>
                    </div>

                    <div class="input-field col s12 m4">
                        <input-auto-complete [label]="'Provincia'"
                                            [requiredIAC]="true"
                                            [form]="patientForm"
                                            [formControlNameIAC]="'province'"
                                            [source]="provinces"
                                            (valueChange)="onChangeProvince()">
                        </input-auto-complete>
                    </div>

                    <div class="input-field col s12 m4">
                        <input-auto-complete #localityIAC
                                            [label]="'Localidad'"
                                            [requiredIAC]="true"
                                            [form]="patientForm"
                                            [formControlNameIAC]="'locality'"
                                            [source]="localities"
                                            (valueChange)="validateForm()">
                        </input-auto-complete>
                    </div>
                </div>

                <!-- <div class="row">
                    <div class="input-field col s12 m3">
                        <input id="phone" class="validate" formControlName="phone" type="text" maxlength="40">
                        <label for="phone" [class.active]="form.value.phone">Teléfono</label>
                        <app-control-error-message [form]="f" [control]="{key:'phone'}"></app-control-error-message>
                    </div>
                    <div class="input-field col s12 m3">
                        <input id="movil" class="validate" formControlName="movil" type="text" maxlength="40">
                        <label for="movil" [class.active]="form.value.movil">Celular</label>
                        <app-control-error-message [form]="f" [control]="{key:'movil'}"></app-control-error-message>
                    </div>
                </div> -->
            </div>
        </li>
        <li>
			<div class="collapsible-header blue lighten-2 white-text"><i class="material-icons">account_balance</i><span class="full-width">Datos de obra social</span><i class="material-icons less">expand_less</i><i class="material-icons more">expand_more</i></div>
            <div class="collapsible-body">
                <div class="row">
                    <div *ngIf="!isNewOrEditPMI">
                        <pmi-list
                            (newOrEditEvent)="addOrEditPMI($event)"
                            (dataSourceChange)="reloadListPMI()">
                        </pmi-list>
                    </div>
                    <div *ngIf="isNewOrEditPMI">
                        <pmi-form
                            [patientMedicalInsurance]="patientMedicalInsurance"
                            (saveClick)="isNewOrEditPMI=false"
                            (cancelClick)="isNewOrEditPMI=false">
                        </pmi-form>
                    </div>

                </div>
            </div>
        </li>
    </ul>
    <!-- <div class="row center-align">
        <button type="submit" [disabled]="!f.form.valid" class="waves-effect waves-light btn btn-form center blue"
            onreadystatechange="alert('mnnkjnjnk')">
            Guardar
        </button>
        <button type="button" class="waves-effect waves-light btn btn-form center red"
            >
            Cancelar
        </button>
    </div> -->
</form>
