<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Liquidaciones de Profesionales</span>
                <loading *ngIf="isLoading"></loading>
                <app-dynamic-filter [show]="!isLoading" [(controls)]="controlsToFilter"
                                    (filterChange)="onFilterChange($event)">
                </app-dynamic-filter>
                <table class="centered" *ngIf="!isLoading">
                    <thead>
                    <tr>
                        <th class="text-left">Profesional</th>
                        <th>Código Liq.</th>
                        <th>Fecha Liq.</th>
                        <th>Periodo</th>
                        <th>Acciones</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody *ngFor="let item of dataSource" class="hoverable">
                        <tr class="center-align row-liquidation">
                            <td class="text-left">{{item.professionalName}}</td>
                            <td>{{item.number}}</td>
                            <td>{{item.dateGeneration | date:'dd/MM/yyyy'}}</td>
                            <td>{{item.dateFrom | date:'dd/MM/yyyy' }} - {{item.dateTo | date:'dd/MM/yyyy'}}</td>
                            <td style="white-space: nowrap;">
                                <a (click)="actionReport({e:$event,i:item})" materialize="tooltip" data-position="bottom" data-delay="50" data-tooltip="Imprimir"><i class="fa fa-print"></i></a>
                            </td>
                            <td (click)="item.showPractices=!item.showPractices">
                                <i *ngIf="item.showPractices" class="material-icons less">expand_less</i>
                                <i *ngIf="!item.showPractices" class="material-icons more">expand_more</i>
                            </td>
                        </tr>
                    <tr *ngIf="item.showPractices">
                        <td [attr.colspan]="6">
                            <table class="highlight centered">
                                <thead>
                                <tr>
                                    <th class="text-left">Práctica</th>
                                    <th>Código</th>
                                    <th>O.S</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let liq of item.liquidations">
                                    <td class="text-left">
                                        {{liq.practiceName}}
                                    </td>
                                    <td>{{liq.code}}</td>
                                    <td>{{liq.medicalInsuranceName}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <app-paginator [show]="!isLoading" (pageChange)="onPageChange()">
                </app-paginator>
            </div>
        </div>
    </div>
</div>

<app-intelligent-report #iReport>
</app-intelligent-report>