.modal-detail-turn {
    padding: 0 70px;
    max-height: 90%;
    & .label {
        font-weight: 500;
        margin-right: 10px;
    }
    & .modal-content {
        padding-bottom: 0px !important;
    }
    & .box-total {
        text-align: center;
        border: 1px solid #009688;
        padding: 7px;
    }
    & .modal-footer {
        height: 60px !important;
        text-align: center !important;
    }
}
