<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content" *ngIf="isLoad">
                <div class="card-title center-align">Detalle de Exportación <strong>{{exportationDetail.name}}</strong></div>
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">description</i>
                        <input id="name" type="text" value="{{exportationDetail.fileName}}" readonly>
                        <label class="active" for="name">Nombre de expediente</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s4">
                        <i class="material-icons prefix">description</i>
                        <input value="{{typeName}}" id="type" type="text" readonly>
                        <label class="active" for="type">Tipo</label>
                    </div>
                    <div class="input-field col s8" *ngIf="isCsv">
                        <i class="material-icons prefix">description</i>
                        <input value="{{exportationDetail.separa}}" id="separa" type="text" readonly>
                        <label class="active" for="separa">Separa</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">description</i>
                        <textarea class="materialize-textarea" value="{{exportationDetail.sql}}" id="textarea1" readonly></textarea>
                        <label class="active" for="textarea1">SQL</label>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">description</i>
                        <input value="{{exportationDetail.docHtml}}" id="docHtml" type="text" readonly>
                        <label class="active" for="docHtml">DocHtml</label>
                    </div>
                </div> -->
                <div class="row" *ngIf="isLoad">
                    <div class="col s12" style="margin-bottom: 0.6rem;">
                        <i class="material-icons prefix" style="position: absolute; margin-top: -3px;">description</i>
                        <label style="font-size: 1rem; margin-left: 3rem;">Dochtml</label>
                    </div>
                    <div class="col s12">
                        <ckeditor
                            [(ngModel)]="exportationDetail.docHtml"
                            [config]="config"
                            debounce="500">
                        </ckeditor>
                        <!-- (change)="onChange($event)"
                            (ready)="onReady($event)"
                            (focus)="onFocus($event)"
                            (blur)="onBlur($event)" -->
                    </div>
                </div>
                <div class="row center-align" style="margin-top: 2rem;">
                    <a [routerLink]="['/sistema/exportaciones/formulario/'+expedientNumber]" class="waves-effect waves-light btn blue center-align">Atras</a>
                </div>
            </div>
        </div>
    </div>
</div>