
<button type="button" class="waves-effect waves-light btn btn-form center" (click)="openModal()">Consulta rápida</button>

<!-- Modal structure centered  -->
<div id="modalConsultar" class="modal modal-fixed-footer modal-styles" materialize="modal" [materializeParams]="[{dismissible: false}]"
    [materializeActions]="modalActions">
    <div class="modal-header">
        <span class="card-title center-align"> Consulta rápida</span>
    </div>
    <div class="modal-content">
        <app-dynamic-table
            [sourceService]="turnManagementService"
            [methodNameForList]="'checkAvailability'"
            [columns]="columns"
            [controlsToFilter]="controlsToFilter"
            [filterWithSubmit]=true
            [disabledNew]="true"
            [disableButtonFloating]="true"
            [hideActions]=true
            (actionClick)="onActionClick($event)">
        </app-dynamic-table>
    </div>
    <div class="modal-footer">
        <button type="button" class="waves-effect waves-light btn btn-form center red" (click)="closeModal()">Cerrar</button>
    </div>
</div>
