<div class="row">
	<div class="col s12">
		<div class="card">
			<div class="card-content">
				<div class="row">
					<div class="col s12">
						<span class="card-title center-align">{{(!!id ? 'Editar' : 'Nuevo')}} Responsable de Paciente</span>
					</div>
				</div>
				<loading *ngIf="isLoading"></loading>

				<form #f="ngForm" [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!isLoading && !!form">
					<ul materialize="collapsible" class="collapsible" data-collapsible="expandable">
						<li>
							<div class="collapsible-header active blue lighten-2 white-text"><i class="material-icons">account_circle</i><span class="full-width">Datos personales</span><i class="material-icons less">expand_less</i><i class="material-icons more">expand_more</i></div>
							<div class="collapsible-body">
								<div class="row">
									<div class="input-field col s12 m8">
										<input id="name" class="validate" formControlName="name" type="text" maxlength="40" required>
										<label for="name" [class.active]="form.value.name">Nombre</label>
										<app-control-error-message [form]="f" [control]="{key:'name'}"></app-control-error-message>
									</div>
									<div class="input-field col s12 m4">
										<input id="birthdate" class="datepicker" formControlName="birthDate" type="text" materialize="pickadate" [materializeParams]="[datePickerOptions]" [attr.data-value]="form.value.birthDate">
										<label for="birthdate" [class.active]="form.value.birthDate">Fecha de Nac.</label>
									</div>
									<div class="input-field col s12 m4">
										<select formControlName="identi" materialize="material_select" [materializeSelectOptions]="identifiers" (change)="onChangeIdenti()" required>
											<option value="" disabled selected>Elija una opción</option>
											<option *ngFor="let iden of identifiers" [value]="iden.number">{{iden.name}}</option>
										</select>
										<label>Tipo</label>
										<app-control-error-message [show]="!form.value.identi && form.value.identi != 0"></app-control-error-message>
									</div>
									<div class="input-field col s12 m4">
										<input id="cuit" class="validate" formControlName="cuit" type="text" maxlength="13" required>
										<label for="cuit" [class.active]="form.value.cuit">{{cuitLabel}}</label>
										<app-control-error-message [form]="f" [control]="{key:'cuit'}"></app-control-error-message>
									</div>
									<div class="col s12 m4">
										<label class="active">Esta habilitado</label>
										<div style="padding-top: 0.7rem">
											<input formControlName="enabled" type="radio" id="test1" [value]="1" />
											<label style="padding-right: 9%;" for="test1">Si</label>
											<input formControlName="enabled" type="radio" id="test2" [value]="0" />
											<label for="test2">No</label>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="collapsible-header blue lighten-2 white-text"><i class="material-icons">place</i><span class="full-width">Datos de ubicación</span><i class="material-icons less">expand_less</i><i class="material-icons more">expand_more</i></div>
							<div class="collapsible-body">
								<div class="row">
									<div class="input-field col s12 m6">
										<input id="address" class="validate" formControlName="address" type="text" maxlength="40">
										<label for="address" [class.active]="form.value.address">Dirección</label>
									</div>
									<div class="input-field col s12 m6">
										<input id="quarter" class="validate" formControlName="quarter" type="text" maxlength="40">
										<label for="quarter" [class.active]="form.value.quarter">Barrio</label>
									</div>
									<div class="input-field col s12 m4">
										<input-auto-complete [label]="'Provincia'"
										[requiredIAC]="true"
										 [form]="form" 
										  [formControlNameIAC]="'province'"
										  [functionForData]="functionForProvinces"
										  (valueChange)="onProvinceChange($event)">
									  </input-auto-complete>
									</div>
									<div class="input-field col s12 m4">
										<input-auto-complete [label]="'Localidad'" 
													  [requiredIAC]="true" 
													   [form]="form"
														[formControlNameIAC]="'locality'"  
														[source]="localities"
														[isLoading]="loadingLocalityIAC"														> 
										</input-auto-complete>
									</div>
									<div class="input-field col s12 m4">
										<select formControlName="zone" materialize="material_select" [materializeSelectOptions]="zones" required>
											<option value="" disabled selected>Elija una opción</option>
											<option *ngFor="let zon of zones" [value]="zon.number">{{zon.name}}</option>
										</select>
										<label>Zona</label>
										<app-control-error-message [show]="!form.value.zone"></app-control-error-message>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="collapsible-header blue lighten-2 white-text"><i class="material-icons">perm_phone_msg</i><span class="full-width">Datos de contacto</span><i class="material-icons less">expand_less</i><i class="material-icons more">expand_more</i></div>
							<div class="collapsible-body">
								<div class="row">
									<div class="input-field col s12 m4">
										<input id="phone" class="validate" formControlName="phone" type="text" maxlength="40">
										<label for="phone" [class.active]="form.value.phone">Teléfono</label>
									</div>
									<div class="input-field col s12 m4">
										<input id="movil" class="validate" formControlName="movil" type="text" maxlength="40">
										<label for="movil" [class.active]="form.value.movil">Celular</label>
									</div>
									<div class="input-field col s12 m4">
										<input id="fax" class="validate" formControlName="fax" type="text" maxlength="40">
										<label for="fax" [class.active]="form.value.fax">Fax</label>
									</div>
									<div class="input-field col s12 m6">
										<input id="mail" class="validate" formControlName="mail" type="email" maxlength="40" [pattern]="emailPattern">
										<label for="mail" [class.active]="form.value.mail">E-mail</label>
										<app-control-error-message [form]="f" [control]="{key:'mail', type:'email'}"></app-control-error-message>
									</div>
									<div class="input-field col s12 m6">
										<input id="www" class="validate" formControlName="www" type="text" maxlength="40">
										<label for="www" [class.active]="form.value.www">Página Web</label>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="collapsible-header blue lighten-2 white-text"><i class="material-icons">playlist_add</i><span class="full-width">Datos adicionales</span><i class="material-icons less">expand_less</i><i class="material-icons more">expand_more</i></div>
							<div class="collapsible-body">
								<div class="row">
									<div class="input-field col s12 m12">
										<input id="observation" class="validate" formControlName="observation" type="text" maxlength="1024">
										<label for="observation" [class.active]="patientResponsible.observation">Observación</label>
									</div>
								</div>
							</div>
						</li>
					</ul>
					<div class="row center-align">
						<button type="submit" [disabled]="!f.form.valid" class="waves-effect waves-light btn btn-form center blue z-index-0">Guardar</button>
						<button type="button" class="waves-effect waves-light btn btn-form center red z-index-0" (click)="onCancelButton()">Cancelar</button>
					</div>
				</form>
				<div *ngIf="!isLoading && !form">
					<div class="center-align" style="margin-bottom: 50px;margin-top: 20px;">
						<span style="font-weight: bold;">NO HAY DATOS PARA MOSTRAR</span>
					</div>
					<div class="center-align">
						<a [routerLink]="['/archivos/pacientesResponsable']" class="waves-effect waves-light btn center-align red lighten-1">Cerrar</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<app-modal-confirm [title]="!!id ? 'Editar' : 'Alta'"
					   [message]="'¿Desea regresar sin guardar los cambios?'"
					   [openModalSubject]="openModalSubject"
					   (agree)="onAgree()">
	</app-modal-confirm>
</div>