
.loading-global {
    z-index: 2000;
    position: fixed;
    background: rgba(249, 249, 249, 0.86);
    height: 100%;
    width: 100%;
    display: table;

    & .content-loading {
        display: table-cell;
        vertical-align: middle;
    }

    & .msg-loading {
        font-size: large;
        font-weight: bold;
        margin-top: 1rem;
        color: black;
        display: block;
        margin-bottom: 10rem;
    }
}

