<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <span class="card-title center-align">{{(isDetail ? 'Detalle de ' : 'Modificar')}} Turno</span>
                <br />
                <loading *ngIf="isLoading"></loading>

                <form #f="ngForm" [formGroup]="form" *ngIf="!isLoading">
                    <div class="row">
                        <div class="input-field col s12 m4 l2">
                            <i class="material-icons prefix">recent_actors</i>
                            <input id="nrohc" type="text" value="{{turn.clinicHistoryNumber}}" readonly>
                            <label class="active" for="nrohc">H.C.</label>
                        </div>
                        <div class="input-field col s6 m4 l2">
                            <i class="material-icons prefix">event</i>
                            <input id="date" type="text" value="{{turn.date}}" readonly>
                            <label class="active" for="date">Fecha</label>
                        </div>
                        <div class="input-field col s6 m4 l2">
                            <i class="material-icons prefix">access_time</i>
                            <input id="time" type="text" value="{{turn.time}}" readonly>
                            <label class="active" for="time">Hora</label>
                        </div>
                        <!-- <div class="input-field col s12 m2">
            <i class="material-icons prefix">account_circle</i>
            <input id="medicalOffice" type="text" value="{{turn.medicalOffice}}" readonly>
            <label class="active" for="medicalOffice">Consultorio</label>
        </div> -->
                        <div class="input-field col s6 m3 l2">
                            <select *ngIf="!isDetail" materialize="material_select" [materializeSelectOptions]="turnStates" name="turnStateNumber"
                                    formControlName="turnStateNumber">
                                <!-- <option value="" disabled selected>Elija una opción</option> -->
                                <option *ngFor="let item of turnStates" [ngValue]="item.number">{{item.name}}</option>
                            </select>
                            <input *ngIf="isDetail" id="turnStateNumber" type="text" value="{{turn.turnStateName}}" readonly>
                            <label for="turnStateNumber">Estado</label>
                        </div>
                        <div class="col s6 m3 l2">
                            <div style="padding-top: 0.7 em">
                                <input type="checkbox" id="uponturn" formControlName="uponTurn" />
                                <label for="uponturn" style="margin-top: 2rem;">Es sobreturno</label>
                            </div>
                        </div>
                        
                    </div>

                    <div class="row">
                        <div class="input-field col s12 m4">
                            <!-- <i class="material-icons prefix">account_circle</i> -->
                            <input id="specialtyName" type="text" value="{{turn.specialtyName}}" readonly>
                            <label class="active" for="specialtyName">Especialidad</label>
                        </div>
                        <div class="input-field col s12 m4">
                            <!-- <i class="material-icons prefix">account_circle</i> -->
                            <input id="professionalName" type="text" value="{{turn.professionalName}}" readonly>
                            <label class="active" for="professionalName">Profesional</label>
                        </div>
                        <div class="input-field col s12 m4">
                            <!-- <i class="material-icons prefix">account_circle</i> -->
                            <input id="patient" type="text" value="{{turn.patientName}}" readonly>
                            <label class="active" for="patient">Paciente</label>
                        </div>
                        
                    </div>

                    <div class="row">
                        <div class="input-field col s12 m4">
                            <input-auto-complete [label]="'Obra Social'" [requiredIAC]="true"
                                                 [form]="form" [formControlNameIAC]="'medicalInsuranceNumber'"
                                                 [readonlyIAC]="isDetail" [readonlyValue]="turn.medicalInsuranceName"
                                                 [source]="medicalInsurances"
                                                 (valueChange)="onChangeMedicalInsurance()">
                            </input-auto-complete>
                        </div>
                        <div class="input-field col s12 m8">
                            <input-auto-complete [label]="'Práctica'" [requiredIAC]="true"
                                                 [form]="form" [formControlNameIAC]="'practiceNumber'"
                                                 [readonlyIAC]="isDetail" [readonlyValue]="turn.practiceName"
                                                 [source]="practices"
                                                 [isLoading]="loadingPracticeIAC">
                            </input-auto-complete>
                        </div>
                    </div>
                    <div class="row margin top-1">
                        <div class="input-field col s7 m3 l2">
                            <i class="material-icons prefix">attach_money</i>
                            <input id="turnCoinsurance" type="text" value="{{turn.coinsurancePaymented}}" readonly />
                            <label class="active" for="turnCoinsurance">Coseguro</label>
                        </div>
                        <div class="col s5 m3 l2">
                            <div style="padding-top: 0.7 em">
                                <input type="checkbox" id="isFact" formControlName="isFact" />
                                <label for="isFact" style="margin-top: 2rem;">Facturable</label>
                            </div>
                        </div>
                        <div class="input-field col s12 m6 l8">
                            <textarea id="authorizationCode" formControlName="authorizationCode" type="text" class="materialize-textarea validate" maxlength="15" [readOnly]="isDetail"></textarea>
                            <label class="active" for="authorizationCode">Codigo de Autorizacion</label>
                        </div>
                    </div>
                    <div class="row margin top-1">
                        <div class="input-field col s12">
                            <textarea id="observation" formControlName="observation" type="text" class="materialize-textarea validate" maxlength="1024" [readOnly]="isDetail"></textarea>
                            <label class="active" for="observation">Observación</label>
                        </div>
                    </div>

                    <div class="row center-align">
                        <button *ngIf="!isSaving && !isDetail" type="submit" [disabled]="!f.form.valid" class="waves-effect waves-light btn btn-form center blue"
                                (click)="saveTurn()">
                            Guardar
                        </button>
                        <button *ngIf="isSaving" class="waves-effect waves-light btn btn-form center blue" disabled>
                            <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                            Guardando
                        </button>
                        <button type="button" class="waves-effect waves-light btn btn-form center red"
                                (click)="onCancelButton()">
                            Cancelar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-modal-confirm
    [title]="'Editar'"
    [message]="'¿Desea regresar sin guardar los cambios?'"
    [openModalSubject]="openModalDiscardSubject"
    (agree)="onDiscard()">
</app-modal-confirm>