<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content" *ngIf="!isNew">
                <span class="card-title center-align">{{title}}</span>
                <br />
                <loading *ngIf="isLoading"></loading>
                <form #formItemPractice="ngForm" [formGroup]="form" (ngSubmit)="onSubmit($event)" *ngIf="!isLoading && !!form && !isNew">
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <input id="name" formControlName="name" type="text" class="validate" maxlength="100" />
                            <label [class.active]="itemPractice.name">Nombre</label>
                            <app-control-error-message [form]="formItemPractice" [control]="{key:'name'}"></app-control-error-message>
                        </div>
                        <div class="input-field col s3">
                            <select id="type" formControlName="type" materialize="material_select" [materializeSelectOptions]="types" name="type" (ngModelChange)="onChangeType($event)" required>
                                <option value="" disabled selected>Elija una opcion</option>
                                <option *ngFor="let type of types" [ngValue]="type.id">{{type.name}}</option>
                            </select>
                            <label for="type">Tipo</label>
                            <app-control-error-message [form]="formItemPractice" [control]="{key:'type'}"></app-control-error-message>
                        </div>
                        <div class="input-field col s3">
                            <input-auto-complete #tableIAC
                                                 [label]="'Tabla'"
                                                 [requiredIAC]="false"
                                                 [form]="form"
                                                 [formControlNameIAC]="'table'"
                                                 [source]="auxListHcTable"
                                                 (valueChange)="onChangeHcTable()">
                            </input-auto-complete>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6 m4">
                            <input id="default" formControlName="default" type="text" class="validate" maxlength="100" />
                            <label for="default" [class.active]="itemPractice.bydefault">Por defecto</label>
                        </div>
                        <div class="input-field col s6 m4">
                            <input id="order" formControlName="order" type="number" class="validate" min="0" required onkeypress="return event.charCode >= 48" min="1" />
                            <label for="order" [class.active]="itemPractice.order">Orden</label>
                            <app-control-error-message [form]="formItemPractice" [control]="{key:'order'}"></app-control-error-message>
                        </div>
                        <div class="col s6 m4" style="margin-top: 2rem">
                            <input type="checkbox" id="option" formControlName="option" />
                            <label for="option" [class.active]="itemPractice.option">Requerido</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m12">
                            <textarea id="description" formControlName="description" type="text" class="materialize-textarea validate" maxlength="1024"></textarea>
                            <label for="description" [class.active]="itemPractice.description">Descripción</label>
                        </div>
                    </div>
                    <div *ngIf="isEdit">
                        <div class="divider"></div>
                        <br />
                        <div class="row">
                            <span class="col s12 sub-title">Practicas Asignadas:</span>
                            <div class="col s6">
                                <input type="text" required
                                       id="itemPractice" auto-complete [source]="auxListPracticeTypes"
                                       [value]="namePracticeType"
                                       (valueChanged)="customCallbackPracticeType($event)"
                                       (input)="namePracticeType=$event.target.value"
                                       placeholder="Tipos de Practica"
                                       max-num-list="10" />
                            </div>
                            <button type="button" class="waves-effect waves-light btn btn-form center blue" (click)="addPracticeType()" [disabled]="!isLoadedPracticeType">Agregar</button>
                        </div>
                        <app-dynamic-table [sourceService]="assignedPracticeTypeService"
                                           [columns]="columns"
                                           [paginator]="paginator"
                                           [disabledEdit]="true"
                                           [disabledDetail]="true"
                                           [disabledNew]="true"
                                           [disableButtonFloating]="true"
                                           [reloadingData]="reloadingData"
                                           (actionClick)="onActionClick($event)"
                                           (reloadingDataChange)="updateReloadingData($event)">
                        </app-dynamic-table>
                        <app-modal-confirm [title]="'Eliminar practica asignada'"
                                           [message]="'Desea eliminar el practica asignada?'"
                                           [openModalSubject]="deleteModalSubject"
                                           (agree)="onDeleteConfirm()">
                        </app-modal-confirm>
                    </div>
                    <br />
                    <div class="row center-align">
                        <button-submit [btntext]="'Guardar'" [loadingGlobal]="true"
                                       [btnType]="'submit'" [btnDisabled]="!formItemPractice.form.valid" [isLoading]="isSaving">
                        </button-submit>
                        <button type="button" class="waves-effect waves-light btn btn-form center red" (click)="onCancelButton()">Cancelar</button>
                    </div>
                </form>
                <div *ngIf="!isLoading && !form">
                    <div class="center-align" style="margin-bottom: 50px;margin-top: 20px;">
                        <span style="font-weight: bold;">NO HAY DATOS PARA MOSTRAR</span>
                    </div>
                    <div class="center-align">
                        <a [routerLink]="['/archivos/practicasItems']" class="waves-effect waves-light btn center-align red lighten-1">Cerrar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-modal-confirm [title]="isEdit ? 'Editar' : 'Alta'" [message]="'Desea regresar sin guardar los cambios?'" [openModalSubject]="openModalSubject"
                   (agree)="onAgree()">
</app-modal-confirm>
