<div class="row">
    <div class="card-content">
        <span class="card-title center-align">{{isNewProfessional ? 'Nueva': 'Editar'}} Professional Tratante</span>
        <loading *ngIf="isLoading"></loading>
        <form #f="ngForm" [formGroup]="form" (ngSubmit)="save()" *ngIf="!isLoading && !!form">
            <div class="row">
                <div class="input-field col s12 m6">
                    <input-auto-complete [label]="'Profesional'" [requiredIAC]="true"
                                        [form]="form" [formControlNameIAC]="'professionalId'"
                                        [source]="professionals" [isLoading]="loadingProfessionalIAC"
                                        (valueChange)="onChangeProfessional()">
                    </input-auto-complete>
                </div>
            </div>
            <br />
            <div class="row left-align"  *ngIf="!readonly">
                <button *ngIf="!isSaving" type="submit"
                    [disabled]="!f.form.valid"
                    class="waves-effect waves-light btn btn-form center blue z-index-0">Guardar</button>
                <button *ngIf="isSaving" type="submit" class="waves-effect waves-light btn btn-form center blue" disabled>
                    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                    Guardando
                </button>
                <button type="button" class="waves-effect waves-light btn btn-form center red z-index-0" (click)="discardChanges()">Cancelar</button>
            </div>
            <div class="row center-align" *ngIf="readonly">
                <button type="button" class="waves-effect waves-light btn btn-form center blue" (click)="discardChanges()">Volver</button>
            </div>
        </form>
    </div>
</div>
<app-modal-confirm [title]="!id ? 'Alta' : 'Editar'"
                 [message]="'¿Desea regresar sin guardar los cambios?'"
                 [openModalSubject]="openModalDiscardSubject"
                 (agree)="discardChanges()">
</app-modal-confirm>
