<div class="row">

    <loading *ngIf="isLoading"></loading>


    <div class="col s12" *ngIf="!isLoading">
        <div class="card" *ngIf="columns">
            <div class="card-content">
                <span class="card-title center-align">{{title}}</span>
                <br>
                <table class="highlight table-sortable" *ngIf="true">
                    <a *ngIf="!disabledNew" class="btn-floating btn-small waves-effect waves-light cyan" (click)="onActionClick('new')" style="top: 37px;">
                        <i class="fa fa-plus"></i>
                    </a>

                    <thead>
                    <tr>
                        <th *ngFor="let c of columns" [class]="selectedClass(c)" (click)="changeSorting(c)">
                            {{c.header}}
                        </th>
                        <th class="text-center">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngIf="showFilters">
                        <td *ngFor="let c of columns">
                            <div class="input-field input-filter" materialize="tooltip" data-position="bottom" data-delay="50" data-tooltip="Empieze a escribir para filtrar">
                                <!-- <i class="material-icons prefix icon-filter">filter_list</i> -->
                                <input *ngIf="!c.disableFilter" [type]="filter[c.property].typeFilter"
                                       [(ngModel)]="filter[c.property].value" (keyup)="changeInput()" >
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="dataSource.length <= 0">
                        <td> No hay elementos para mostrar.</td>
                    </tr>
                    <tr *ngFor="let data of dataSource">
                        <td *ngFor="let c of columns">
                            {{data[c.property]}}
                        </td>
                        <td class="text-center">
                            <a *ngIf="!disabledEdit" (click)="onActionClick('edit', data)" materialize="tooltip" data-position="bottom" data-delay="50" data-tooltip="Editar" >
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a *ngIf="!disabledDelete" (click)="onActionClick('delete', data)" materialize="tooltip" data-position="bottom" data-delay="50" data-tooltip="Eliminar" >
                                <i class="fa fa-trash"></i>
                            </a>
                            <!-- <a (click)="onActionClick('detail', data)" materialize="tooltip" data-position="bottom" data-delay="50" data-tooltip="Detalle" >
                                <i class="fa fa-search-plus"></i>
                            </a> -->
                        </td>
                    </tr>
                    </tbody>
                </table>

                <br>
                <div class="row">
                    <div class="col s6" *ngIf="paginator.totalItems > 10 && !isLoading">
                        <div class="input-field inline">
                            <select materialize="material_select" [(ngModel)]="paginator.pageSize" (change)="selectPageSize()">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                            <label>Mostrar</label>
                        </div>
                    </div>
                    <div class="col s6 right-align">
                        <ul class="pagination" *ngIf="paginator.totalItems > paginator.pageSize && !isLoading">
                            <li [class.disabled]="paginator.currentPage == 1" [class.waves-effect]="paginator.currentPage != 1">
                                <a (click)="previousPage()">
                                    <i class="material-icons">chevron_left</i>
                                </a>
                            </li>

                            <span *ngFor="let page of pages">
                                <li [class.active]="page == paginator.currentPage" class="waves-effect" *ngIf="paginator.currentPage - adjacentPagesCount > 1 && page == 1">
                                    <a (click)="selectPage(page)">{{page}}</a>
                                </li>
                                <li *ngIf="paginator.currentPage - adjacentPagesCount > 1 && page == 1">
                                    <a>...</a> 
                                </li>
                                <li [class.active]="page == paginator.currentPage" class="waves-effect" *ngIf="page >= paginator.currentPage - adjacentPagesCount && page <= paginator.currentPage + adjacentPagesCount">
                                    <a (click)="selectPage(page)">{{page}}</a>
                                </li>
                                <li *ngIf="paginator.currentPage + adjacentPagesCount < pages.length && page == pages.length">
                                    <a>...</a>
                                </li>
                                <li [class.active]="page == paginator.currentPage" class="waves-effect" *ngIf="paginator.currentPage + adjacentPagesCount < pages.length && page == pages.length">
                                    <a (click)="selectPage(page)">{{page}}</a>
                                </li>
                            </span>

                            <li [class.disabled]="paginator.currentPage == pages.length" [class.waves-effect]="paginator.currentPage != pages.length">
                                <a (click)="nextPage()">
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <dynamic-view-form
            [initSubject]="initSubject"
            (reloadingData)="reloadData()">
        </dynamic-view-form>

        <app-modal-confirm *ngIf="contentModalDelete"
                           [content]="contentModalDelete"
                           [openModalSubject]="openModalDeleteSubject"
                           (agree)="deleteItem()">
        </app-modal-confirm>

    </div>
</div>

<app-button-floating *ngIf="!disabledPrint" [item]="item" [sentItem]="true" [tableName]="tableName"></app-button-floating>