
<div class="row">
    <button type="button" class="waves-effect waves-light btn btn-form right blue" (click)="return()">Volver</button>
    <span class="sub-title left-align">Lista de turnos para el {{currenDate}}</span>
</div>
<loading *ngIf="isLoading"></loading>

<div class="row margin top-s bottom-xs">
    <table class="centered striped turn-list" *ngIf="!isLoading">
        <thead>
            <tr>
                <th class="text-left">Hora</th>
                <th>Paciente</th>
                <th>O.S.</th>
                <th>Práctica</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let data of dataSource">
                <ng-container *ngIf="data.initialRowText">
                    <tr class="tr-initial-row">
                        <td></td>
                        <td [attr.colspan]="4">{{data.initialRowText}}</td>
                        <td></td>
                    </tr>
                </ng-container>
                <ng-container *ngIf="!data.chargedTurn && !data.uponTurn && !data.initialRowText">
                    <tr>
                        <td class="text-left">{{data.time}}</td>
                        <td [attr.colspan]="4" class="td-new-turn">
                            <a (click)="onActionClick('new', data)">
                                <i class="fa fa-plus"></i>
                                Añadir turno
                            </a>
                        </td>
                        <td></td>
                    </tr>
                </ng-container>
                <ng-container *ngIf="data.chargedTurn && !data.initialRowText">
                    <tr>
                        <td [class.uponturn]="data.uponTurn" class="text-left ">{{data.time}}</td>
                        <td>{{data.pacient}}</td>
                        <td>{{data.medicalInsurance}}</td>
                        <td>
                            <span class="truncate" style="width: 300px;">{{data.practice}}</span>
                        </td>
                        <td><span class="turn-state {{data.turnState}}">{{data.turnState}}</span></td>
                        <td class="td-actions">
                            <a (click)="onActionClick('edit', data)" *ngIf="data.turnState != 'Asistido'" materialize="tooltip" data-position="bottom" data-delay="50" data-tooltip="Editar" >
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a (click)="onActionClick('delete', data)" *ngIf="data.turnState != 'Asistido'" materialize="tooltip" data-position="bottom" data-delay="50" data-tooltip="Eliminar" >
                                <i class="fa fa-trash"></i>
                            </a>
                            <a (click)="onActionClick('newUponTurn', data)" *ngIf="data.allowUponTurn" materialize="tooltip" data-position="bottom" data-delay="50" data-tooltip="Añadir Sobreturno" >
                                <i class="fa fa-plus"></i>
                            </a>
                            <!-- <a (click)="onActionClick('detail', data)" materialize="tooltip" data-position="bottom" data-delay="50" data-tooltip="Detalle" >
                                <i class="fa fa-search-plus"></i>
                            </a> -->
                        </td>
                    </tr>
                </ng-container>
            </ng-container>
        </tbody>
    </table>
    <div class="col s12 no-results-found" *ngIf="!isLoading && dataSource.length === 0">
            <p class="center-align">
                Ocurrio un error al cargar turnos para el día seleccionado.
            </p>
    </div>

    <app-modal-confirm [title]="'Eliminar Turno'"
                [message]="'¿Desea eliminar el Turno?'"
                [openModalSubject]="openModalDeleteSubject"
                (agree)="deleteItem()">
    </app-modal-confirm>
</div>
