
.sub-title {
    padding-top: 5px;
    font-size: 1.4rem;
}

/* START - styles for generic table */
table tbody tr {

    td, th {
        padding: 10px 5px;
        border-radius: 0px !important;
    }

    & td.td-actions {
        white-space: nowrap;
        padding: 0 10px !important;
        width: 170px;
        & a {
            color: #cec9c9;
            // cursor: pointer;
            font-size: 20px;
            padding: 5px;
            &:hover {
                color: #00BCD4;
                cursor: pointer;
                & i.fa-pencil {
                    color: #00BCD4;
                }
                & i.fa-trash {
                    color: red;
                }
                & i.fa-plus {
                    color: #62a765;
                }
                & i.fa-search-plus {
                    color: #009688;
                }
            }
        }
    }

}
/* END - styles for generic table */

/* START - styles for TURNS table*/
.turn-list td, th {
    height: 50px !important;
    padding: 0px 5px !important;
}

.tr-initial-row {
    background-color: #009688 !important;
    color: white;
    font-weight: 500;
}

.uponturn {
    background-color: #d83d3da1 !important
}

.td-new-turn a {
   color: #b7b7b7;
   font-size: 1.3rem !important;
    & i {
        margin-right: 8px;
    }
    &:hover {
        cursor: pointer;
        color: #00BCD4 !important;
        font-weight: 500;
        font-size: 1.5rem !important;
    }
}

.turn-state {
    padding: 2px 8px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    &.Asistido {
        background-color: #278c2b;
    }
    &.Otorgado {
        background-color: #03A9F4;
    }
    &.Suspendido {
        background-color: #7d7d7d;
    }
    &.Anulado {
        background-color: #f7440c;
    }
}
/* END - styles for TURNS table*/

.no-results-found {
    padding: .6rem;
    border-bottom: 1px solid #d0d0d0;
    &:hover {
        background-color: #d5d5d575;
    }
}
