<div class="row">
    <div class="col s12">
        <div class="card">

            <div class="card-content">
                <span class="card-title center-align">{{title}}</span>
                <loading *ngIf="isLoading"></loading>
                <form #formExportation="ngForm" [formGroup]="form" (ngSubmit)="onSubmit($event)" *ngIf="!isLoading">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="name" formControlName="name" name="name" type="text" class="validate" [(ngModel)]="exportation.name" required/>
                            <label for="name" [class.active]="exportation.name">Nombre</label>
                            <app-control-error-message [form]="formExportation" [control]="{key:'name'}"></app-control-error-message>
                        </div>

                        <div class="input-field col s6">
                            <input id="description" formControlName="description" type="text" class="validate" [(ngModel)]="exportation.description"
                                required/>
                            <label for="description" [class.active]="exportation.description">Descripción</label>
                        </div>
                    </div>
                    <!-- <div class="row center-align" *ngIf="isEdit">
                        <button type="button" class="waves-effect waves-light btn btn-form center green" (click)="downloadJsonFile($event)">
                            <i class="material-icons right">cloud_download</i>Exportar JSON</button>
                        <button type="button" class="waves-effect waves-light btn btn-form center green" (click)="convertToXML($event)">
                            <i class="material-icons right">cloud_download</i>Exportar XML</button>
                    </div>
                    <br /> -->
                    <!-- <div class="row center-align" *ngIf="isEdit">
                        <button type="button" class="waves-effect waves-light btn btn-form center green" (click)="goToExportationDetailForm($event)">
                            <i class="material-icons right">add_circle</i>Detalle</button>
                        <button type="button" class="waves-effect waves-light btn btn-form center green" (click)="goToExportationEntryForm($event)">
                            <i class="material-icons right">add_circle</i>Entrada</button>
                    </div> -->
                    <br />
                    <div class="row" *ngIf="isEdit">
                        <div class="col s12">
                            <app-exportation-detail-list [exportId]="exportation.number"></app-exportation-detail-list>
                        </div>
                        <div class="col s12">
                            <app-exportation-entry-list [exportId]="exportation.number"></app-exportation-entry-list>
                        </div>
                    </div>
                    <div class="row center-align">
                        <button type="submit" [disabled]="!formExportation.form.valid" class="waves-effect waves-light btn btn-form center blue">Guardar</button>
                        <button type="button" class="waves-effect waves-light btn btn-form center red" (click)="onCancelButton()">Cancelar</button>
                    </div>
                </form>
            </div>
            <app-modal-confirm [title]="exportation.number ? 'Editar' : 'Alta'" [message]="'¿Desea regresar sin guardar los cambios?'"
               [openModalSubject]="openModalSubject" (agree)="onAgree()">
           </app-modal-confirm>