<div class="row">
    <div class="col s12">
        <div class="card">

            <div class="card-content">
                <span class="card-title center-align">{{title}}</span>
                <loading *ngIf="isLoading"></loading>

                <form #formExportationEntry="ngForm" [formGroup]="form" (ngSubmit)="onSubmit($event)" *ngIf="!isLoading">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="name" formControlName="name" name="name" type="text" class="validate" [(ngModel)]="exportationEntry.name" required maxlength="50" />
                            <label for="name" [class.active]="exportationEntry.name">Nombre</label>
                            <app-control-error-message [form]="formExportationEntry" [control]="{key:'name'}"></app-control-error-message>
                        </div>

                        <div class="input-field col s6">
                            <input id="key" formControlName="key" type="text" class="validate" [(ngModel)]="exportationEntry.key" required maxlength="50" />
                            <label for="key" [class.active]="exportationEntry.key">Key</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s4">
                            <select materialize="material_select" [materializeSelectOptions]="tipos" required [(ngModel)]="exportationEntry.type" formControlName="types" name="types" (change)="onChangeEntryType()">
                                <option value="-1" disabled selected>Elija una opción</option>
                                <option *ngFor="let tipo of tipos" [value]="tipo.number">{{tipo.description}}</option>
                            </select>
                            <label for="tipos">Tipo</label>
                            <app-control-error-message [show]="!form.value.types && form.value.types != 0"></app-control-error-message>
                        </div>
                        <div class="input-field col s4" *ngIf="showItems">
                            <input id="tableFo" name="tableFo" formControlName="tableFo" type="text" class="validate" [(ngModel)]="exportationEntry.tableFo" maxlength="50" />
                            <label for="tableFo" [class.active]="exportationEntry.tableFo">Tabla FO</label>
                        </div>
                        <div class="input-field col s4" *ngIf="showItems">
                            <input id="fieldFo" name="fieldFo" formControlName="fieldFo" type="text" class="validate" [(ngModel)]="exportationEntry.fieldFo" maxlength="10" />
                            <label for="fieldFo" [class.active]="exportationEntry.fieldFo">Campo FO</label>
                        </div>
                    </div>
                    <div class="row center-align">
                        <button type="submit" [disabled]="!formExportationEntry.form.valid" class="waves-effect waves-light btn btn-form center blue">Guardar</button>
                        <button type="button" class="waves-effect waves-light btn btn-form center red" (click)="onCancelButton()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-modal-confirm [title]="exportationEntry.number ? 'Editar' : 'Alta'" [message]="'Desea regresar sin guardar los cambios?'"
                   [openModalSubject]="openModalSubject" (agree)="onAgree()">
</app-modal-confirm>
