<div class="row margin top-s">
    <div class="col s12">
        <app-dynamic-table [controlsToFilter]="professionalLiquidationService.controlsToFilter"
                           [sourceService]="professionalLiquidationService"
                           [methodNameForList]="'getPracticesToLiquidate'"
                           [columns]="professionalLiquidationService.columns"
                           [hideActions]="true"
                           [disabledNew]="true"
                           [disableButtonFloating]="true"
                           [refreshedAllowed]="false"
                           (filterChange)="onFilterChange()"
                           (allSelectEE)="selectAll($event)"
                           (actionClick)="onActionClick($event)">
        </app-dynamic-table>
    </div>
</div>