<div class="card-content">
    <span class="card-title center-align">Esquema de Medicación</span>
    <form #f="ngForm" [formGroup]="form" (ngSubmit)="save()">
        <div class="row">
            <div class="input-field col s12 m6">
                <input-auto-complete [label]="'Artículo'"
                                     [requiredIAC]="true"
                                     [form]="form"
                                     [formControlNameIAC]="'articleCode'"
                                     [source]="articles"
                                     [displayPropertyName]="'name'"
                                     [valuePropertyName]="'id'"
                                     [isLoading]="loadingArticles">
                </input-auto-complete>
            </div>
            <div class="input-field col s12 m6">
                <input id="quantity" class="validate" type="number" formControlName="quantity" min="0" required>
                <label for="quantity" [class.active]="form.value.quantity">Cantidad</label>
                <app-control-error-message [form]="f" [control]="{key:'quantity'}"></app-control-error-message>
            </div>
            <div class="input-field col s12 m6">
                <input id="date" formControlName="date" type="date">
                <label for="date" [class.active]="isActiveDate">Fecha</label>
                <app-control-error-message [form]="f" [control]="{key:'date'}"></app-control-error-message>
            </div>
            <div class="input-field col s12 m6">
                <input type="time" id="time" formControlName="time">
                <label for="time" [class.active]="isActiveDate">Hora</label>
                <app-control-error-message [form]="f" [control]="{key:'time'}"></app-control-error-message>
            </div>
            <!-- <div class="input-field col s12 m6">
                <input type="number" id="posology" formControlName="posology">
                <label for="posology" [class.active]="form.value.posology">Posologia</label>
                <app-control-error-message [form]="f" [control]="{key:'posology'}"></app-control-error-message>
            </div> -->

            <div class="input-field col s12">
                <textarea id="observation" class="materialize-textarea" formControlName="observation" maxlength="255"></textarea>
                <label for="observation" [class.active]="form.value.observation">Observación</label>
            </div>
        </div>
        <div class="row center-align">
            <button type="submit" [disabled]="!f.form.valid" class="waves-effect waves-light btn btn-form center blue z-index-0">Guardar</button>
            <button type="button" class="waves-effect waves-light btn btn-form center red z-index-0" (click)="cancel()">Cancelar</button>
        </div>
    </form>
</div>
<app-modal-confirm [title]="!chPharmacySchemeService.isNew ? 'Editar' : 'Alta'"
                   [message]="'¿Desea regresar sin guardar los cambios?'"
                   [openModalSubject]="modalDiscardSubject"
                   (agree)="closeForm()">
</app-modal-confirm>