<div class="row">
    <div class="col s12 m12">
        <div class="card">

            <div class="card-content" *ngIf="!isNew && !isNewDetail && !isNewEntry">
                <span class="card-title center-align">{{title}}</span>
                <div class="row center-align" *ngIf="isLoading">
                    <div class="preloader-wrapper big active">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                <form #formExportation="ngForm" [formGroup]="form" (ngSubmit)="onSubmit($event)" *ngIf="!isLoading">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="name" formControlName="name" name="name" type="text" class="validate" [(ngModel)]="exportation.name" required/>
                            <label for="name" [class.active]="exportation.name">Nombre</label>
                            <!-- <app-control-error-message [form]="formExportation" [control]="{key:'name'}"></app-control-error-message> -->
                        </div>

                        <div class="input-field col s6">
                            <input id="description" formControlName="description" type="text" class="validate" [(ngModel)]="exportation.description"
                                required/>
                            <label for="description" [class.active]="exportation.description">Descripción</label>
                        </div>
                    </div>
                    <app-dynamic-table [sourceService]="exportationDetailService" [title]="'Administración de Detalles de Exportación'" [columns]="columnsDetail"
                        [paginator]="paginatorDetail" [disabledDetail]=true [reloadingData]="reloadingData" (actionClick)="onActionClickDetail($event)"
                        (reloadingDataChange)="updateReloadingDataDetail($event)">
                    </app-dynamic-table>
                    <br />
                    <app-dynamic-table [sourceService]="exportationEntryService" [title]="'Administración de Entradas de Exportación'" [columns]="columnsEntry"
                        [paginator]="paginatorEntry" [disabledDetail]=true [reloadingData]="reloadingData" (actionClick)="onActionClickEntry($event)"
                        (reloadingDataChange)="updateReloadingDataEntry($event)">
                    </app-dynamic-table>
                    <br />
                    <div class="row center-align">
                        <button type="submit" [disabled]="!formExportation.form.valid" class="waves-effect waves-light btn btn-form center blue">Guardar</button>
                        <button type="button" class="waves-effect waves-light btn btn-form center red" (click)="onCancelButton()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
        <app-modal-confirm [title]="exportation?.number ? 'Clonar' : 'Alta'" [message]="'Desea regresar sin guardar los cambios?'"
            [openModalSubject]="openModalSubject" (agree)="onAgree()">
        </app-modal-confirm>

        <!-- formulario de detalle de exportacion -->

        <div class="card">
            <div class="card-content" *ngIf="isNewDetail">
                <span class="card-title center-align">{{titleDetail}}</span>
                <br />
                <div class="row center-align" *ngIf="isLoading">
                    <div class="preloader-wrapper big active">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                <form #formExportationDetail="ngForm" [formGroup]="formDetail" (ngSubmit)="onSubmitDetail($event)" *ngIf="isNewDetail">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="name" formControlName="name" name="name" type="text" class="validate" required maxlength="50" />
                            <label for="name" [class.active]="exportationDetail.name">Nombre</label>
                            <!-- <app-control-error-message [form]="formExportationDetail" [control]="{key:'name'}"></app-control-error-message> -->
                        </div>

                        <div class="input-field col s6">
                            <input id="fileName" formControlName="fileName" type="text" class="validate" required maxlength="50" />
                            <label for="fileName" [class.active]="exportationDetail.fileName">Nombre del expediente</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s4">
                            <select materialize="material_select" [materializeSelectOptions]="tipos" required name="tipos" [(ngModel)]="exportationDetail.type"
                                formControlName="tipos" (change)="onChangeDetailType()">
                                <option value="-1" disabled selected>Elija una opción</option>
                                <option *ngFor="let tipo of tipos" [value]="tipo.number">{{tipo.name}}</option>
                            </select>
                            <label for="tipos">Tipo</label>
                            <app-control-error-message [show]="!formDetail.value.tipos && formDetail.value.tipos != 0"></app-control-error-message>
                        </div>
                        <div class="input-field col s8" *ngIf="isCsv">
                            <input id="separa" name="separa" formControlName="separa" type="text" class="validate" [(ngModel)]="exportationDetail.separa"
                                maxlength="5" />
                            <label for="separa" [class.active]="exportationDetail.separa">Separa</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="textarea1" name="textarea1" formControlName="sql" class="materialize-textarea" [(ngModel)]="exportationDetail.sql"
                                maxlength="10242"></textarea>
                            <label for="textarea1" [class.active]="exportationDetail.sql">Consulta en SQL</label>
                        </div>
                    </div>
                </form>

                <div class="row" *ngIf="isNewDetail">
                    <div class="col s12" style="margin-bottom: 0.5rem;">
                        <label style="font-size: 1rem;">Dochtml</label>
                    </div>
                    <div class="col s12">
                        <ckeditor [(ngModel)]="exportationDetail.docHtml" [config]="config" [readonly]="false" debounce="500">
                        </ckeditor>
                    </div>
                </div>

                <div class="row center-align" *ngIf="isNewDetail" style="margin-top: 2rem;">
                    <button type="button" [disabled]="!formDetail.valid" class="waves-effect waves-light btn btn-form center blue" (click)="onSubmitDetail($event)">Guardar</button>
                    <button type="button" class="waves-effect waves-light btn btn-form center red" (click)="onCancelDetail()">Cancelar</button>
                </div>

            </div>
        </div>
        <app-modal-confirm [title]="exportationDetail.number ? 'Editar' : 'Alta'" [message]="'Desea regresar sin guardar los cambios?'"
            [openModalSubject]="openModalSubjectDetail" (agree)="onAgreeDetail()">
        </app-modal-confirm>

        <!-- formulario de entrada de exportacion -->

        <div class="card">
            <div class="card-content" *ngIf="isNewEntry">
                <span class="card-title center-align">{{titleEntry}}</span>
                <br />
                <div class="row center-align" *ngIf="isLoading">
                    <div class="preloader-wrapper big active">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                <form #formExportationEntry="ngForm" [formGroup]="formEntry" (ngSubmit)="onSubmitEntry($event)" *ngIf="!isLoading">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="name" formControlName="name" name="name" type="text" class="validate" required maxlength="50" />
                            <label for="name" [class.active]="exportationEntry.name">Nombre</label>
                            <!-- <app-control-error-message [form]="formExportationEntry" [control]="{key:'name'}"></app-control-error-message> -->
                        </div>

                        <div class="input-field col s6">
                            <input id="key" formControlName="key" type="text" class="validate" required maxlength="50" />
                            <label for="key" [class.active]="exportationEntry.key">Key</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s4">
                            <select materialize="material_select" [materializeSelectOptions]="tipos" required formControlName="types" name="types" (change)="onChangeEntryType()">
                                <option value="-1" disabled selected>Elija una opción</option>
                                <option *ngFor="let type of types" [value]="type.number">{{type.description}}</option>
                            </select>
                            <label for="tipos">Tipo</label>
                            <app-control-error-message [show]="!formEntry.value.types && formEntry.value.types != 0"></app-control-error-message>
                        </div>
                        <div class="input-field col s4" *ngIf="showItems">
                            <input id="tableFo" name="tableFo" formControlName="tableFo" type="text" class="validate" maxlength="50" />
                            <label for="tableFo" [class.active]="exportationEntry.tableFo">Tabla FO</label>
                        </div>
                        <div class="input-field col s4" *ngIf="showItems">
                            <input id="fieldFo" name="fieldFo" formControlName="fieldFo" type="text" class="validate" maxlength="10" />
                            <label for="fieldFo" [class.active]="exportationEntry.fieldFo">Campo FO</label>
                        </div>
                    </div>
                    <div class="row center-align">
                        <button type="submit" [disabled]="!formExportationEntry.form.valid" class="waves-effect waves-light btn btn-form center blue">Guardar</button>
                        <button type="button" class="waves-effect waves-light btn btn-form center red" (click)="onCancelEntry()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
        <app-modal-confirm [title]="exportationEntry.number ? 'Editar' : 'Alta'" [message]="'Desea regresar sin guardar los cambios?'"
            [openModalSubject]="openModalSubjectEntry" (agree)="onAgreeEntry()">
        </app-modal-confirm>
    </div>
</div>
<app-modal-confirm [title]="'Eliminar detalle de exportación'" [message]="'Desea eliminar el detalle?'" [openModalSubject]="deleteModalSubjectDetail"
    (agree)="onAgreeDetail()">
</app-modal-confirm>
<app-modal-confirm [title]="'Eliminar entrada de exportación'" [message]="'Desea eliminar la entrada?'" [openModalSubject]="deleteModalSubjectEntry"
    (agree)="onAgreeEntry()">
</app-modal-confirm>