<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content" *ngIf="!isNewSchedule && !isNewMedicalInsurance && !isNewAbsence && !isNewPracticesMedicalInsurance && !isNewConcept">
                <span class="card-title center-align">{{title}}</span>
                <loading *ngIf="isLoading"></loading>
                <form #formContractProfessional="ngForm" [formGroup]="form" (ngSubmit)="saveContractProfessional($event)" *ngIf="!isLoading && !!form && !isNewSchedule">
                    <div class="row">
                        <div class="col s12 m9">
                            <div class="input-field col s12 l6">
                                <input-auto-complete [label]="'Profesional'" [requiredIAC]="true" [form]="form" [formControlNameIAC]="'professionalName'"
                                                     [valuePropertyName]="'name'" [functionForData]="functionForProfessionals" (valueChange)="selectedProfessional($event)">
                                </input-auto-complete>
                            </div>
                            <div class="input-field col s12 m4 l2">
                                <input id="dateFrom" class="datepicker" formControlName="dateFrom" type="text" materialize="pickadate" [materializeParams]="[datePickerOptions]"
                                       [attr.data-value]="form.value.dateFrom">
                                <label for="dateFrom" [class.active]="form.value.dateFrom">Período Desde</label>
                                <app-control-error-message [form]="formContractProfessional" [control]="{key:'dateFrom'}"></app-control-error-message>
                            </div>
                            <div class="input-field col s12 m4 l2">
                                <input id="dateTo" class="datepicker" formControlName="dateTo" type="text" materialize="pickadate" *ngIf="showDPOwhitMin"
                                       [materializeParams]="[datePickerOptionsWhitMax]" [attr.data-value]="form.value.dateTo">

                                <input id="dateTo" class="datepicker" formControlName="dateTo" type="text" materialize="pickadate" *ngIf="!showDPOwhitMin"
                                       [materializeParams]="[datePickerOptionsWhitMax]" [attr.data-value]="form.value.dateTo">
                                <label for="dateTo" [class.active]="form.value.dateTo">Período Hasta</label>
                            </div>
                            <div class="input-field col s12 m4 l2">
                                <input id="fixedAmount" class="validate" formControlName="fixedAmount" type="number" min="0" step=".01" />
                                <label for="fixedAmount" [class.active]="form.value.fixedAmount">$ Fijo Mensual</label>
                            </div>
                            <div class="input-field col m12 s12">
                                <textarea id="description" name="description" formControlName="description" class="materialize-textarea" maxlength="1024"></textarea>
                                <label for="description" [class.active]="form.value.description">Descripción</label>
                            </div>
                            <div class="input-field col m12 s12">
                                <textarea id="observation" name="observation" formControlName="observation" class="materialize-textarea"></textarea>
                                <label for="observation" [class.active]="form.value.observation">Observación</label>
                            </div>
                            <div class="input-field col s12 m4 l2">
                                <input id="priceHs" class="validate" formControlName="priceHs" type="number" min="0" step=".01"  required/>
                                <label for="priceHs" [class.active]="form.value.priceHs>=0">$ Precio por hs</label>
                            </div>
                        </div>
                        <div class="col s12 m3">
                            <div class="cover">
                                <img id="imgSRC" class="responsive-img" [src]="src" *ngIf="src && !isLoadingImage">
                                <loading *ngIf="isLoadingImage"></loading>
                            </div>
                            <div class="file-field">
                                <input id="file-input" type="file" (change)="selected($event)" style="display: none" accept="image/*">
                                <div class="btn cyan button-upload-image" (click)="onClickFile()">
                                    <span>Imagen</span>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="row">
                            <div>
                                <ul class="tabs" materialize="tabs">
                                    <li class="tab col m3 s3" (click)="changeActiveTab('HORARIOS')">
                                        <a [ngClass]="{'active': isActive == 'HORARIOS' }" href="#schedules">HORARIOS</a>
                                    </li>
                                    <li class="tab col m3 s3" (click)="changeActiveTab('OBRA-SOCIAL')">
                                        <a [ngClass]="{'active': isActive == 'OBRA-SOCIAL' }" href="#obra-social">PRACTICAS</a>
                                    </li>
                                    <li *ngIf="isEdit && !isClone" class="tab col m3 s3" (click)="changeActiveTab('AUSENCIAS')">
                                        <a [ngClass]="{'active': isActive == 'AUSENCIAS' }" href="#absences">AUSENCIAS</a>
                                    </li>
                                    <li class="tab col m3 s3" (click)="changeActiveTab('PRECIOS-HS')">
                                        <a [ngClass]="{'active': isActive == 'PRECIOS-HS' }" href="#conceptos">PRECIO X HS</a>
                                    </li>
                                </ul>
                            </div>
                            <div id="schedules" class="col s12">
                                <contract-professional-schedule-list [sourceData]="contractProfessional.schedules" (actionClick)="onActionClick($event)"
                                                                     [isClone]="isClone">
                                </contract-professional-schedule-list>
                            </div>
                            <div id="obra-social" class="col s12">
                                <contract-professional-medical-insurance-list (actionClick)="onActionClickMedicalInsurance($event)"></contract-professional-medical-insurance-list>
                            </div>
                            <div *ngIf="isEdit && !isClone" id="absences" class="col s12">
                                <contract-professional-absence-list (actionClick)="onActionClickAbsence($event)"></contract-professional-absence-list>
                            </div>
                            <div *ngIf="isEdit && !isClone" id="conceptos" class="col s12">
                                <contract-professional-concept-list (actionClick)="onActionClickConcept($event)"></contract-professional-concept-list>
                            </div>
                        </div>

                        <div class="col s12">
                            <blockquote class="blockquote-info">
                                Para poder guardar debe ingresar uno o mas horarios y practicas. <br>
                            </blockquote>
                        </div>
                        <div class="row center-align">
                            <button *ngIf="!isLoadingSubmit" type="submit" class="waves-effect waves-light btn btn-form center blue"
                                    [disabled]="!formContractProfessional.form.valid || !isValidDateTo || !isValidDateFrom">
                                <!-- || !haveSchudelesAndMedicalInsurances().hasSchudeles ||
    !haveSchudelesAndMedicalInsurances().hasMedicalInsurances -->
                                Guardar
                            </button>
                            <button *ngIf="isLoadingSubmit" type="submit" class="waves-effect waves-light btn btn-form center blue" disabled>
                                <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                                Guardar
                            </button>

                            <button type="button"
                                    class="waves-effect waves-light btn btn-form center red"
                                    (click)="onCancelButton()">
                                Cancelar
                            </button>
                        </div>
</form>
                <app-not-found *ngIf="!isLoading && !form" [returnPath]="'/gestionProfesionales/formulario/contratos'"></app-not-found>
            </div>
        </div>
    </div>
    <div *ngIf="isNewSchedule">
        <contract-professional-schedule-form (actionClick)="cancelSchedule()">
        </contract-professional-schedule-form>
    </div>

    <div *ngIf="isNewMedicalInsurance">
        <contract-professional-medical-insurance-form (actionClick)="cancelMedicalInsurance()">
        </contract-professional-medical-insurance-form>
    </div>
    <div *ngIf="isNewPracticesMedicalInsurance">
        <contract-professional-practices-form (actionClick)="hidePracticesMedicalInsuranceView()">
        </contract-professional-practices-form>
    </div>

    <div *ngIf="isNewAbsence">
        <contract-professional-absence-form (actionClick)="cancelAbsence()">
        </contract-professional-absence-form>
    </div>

    <div *ngIf="isNewConcept">
        <contract-professional-concept-form (actionClick)="cancelConcept()">
        </contract-professional-concept-form>
    </div>

    <app-modal-confirm
        [title]="isEdit ? 'Editar' : 'Alta'"
        [message]="'¿Desea regresar sin guardar los cambios?'"
        [openModalSubject]="openModalDiscardSubject"
        (agree)="discardChanges()">
    </app-modal-confirm>
</div>