<div class="table-container row">
	<div class="col s12">
		<div class="card">
			<div class="card-content">
				<app-dynamic-table [sourceService]="contractOsService"
								   [title]="'Contratos OS'"
								   [columns]="columns"
								   [disabledDelete]="true"
								   [enabledClone]="true"
								   [controlsToFilter]="controlsToFilter"
								   [reloadingData]="reloadingData"
								   (actionClick)="onActionClick($event)"
								   [permissionCode]="'ABMOSCONT'"
								   (reloadingDataChange)="updateReloadingData($event)">
				</app-dynamic-table>
			</div>
		</div>
	</div>
</div>