<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <app-dynamic-table  [sourceService]="internmentService"
                                    [title]="'Internaciones'"
                                    [columns]="internmentService.columns"
                                    [controlsToFilter]="internmentService.controlsToFilter"
                                    [initialFilter]="initialFilter"
                                    [disabledDelete]="true"
                                    [enabledPrint]="true"
                                    [sort]="sortField"
                                    [permissionCode]="'INTR02401'"
                                    (actionClick)="onActionClick($event)">
                </app-dynamic-table>
            </div>
        </div>
    </div>
</div>
<app-intelligent-report #iReport>
</app-intelligent-report>




