
table {
  position: relative;
}

table>.btn-floating {
  position: absolute;
  right: 8px;
  float: right;
  top: 32px;
  font-size: 20px;
}

.action>a {
  color: #e7e7e7;
  cursor: pointer;
  font-size: 20px;
  padding: 5px;
}

.action>a:hover {
  color: #00BCD4;
  cursor: pointer;
}

.edit>a {
  cursor: pointer;
  font-size: 20px;
  padding: 5px;
}

.edit>a:hover {
  text-shadow: 1px 1px 2px black, 0 0 5px grey;
  cursor: pointer;
}
.not-active {
   pointer-events: none;
   cursor: default;
   color: beige;
   text-shadow: 1px 1px 2px rgba(50, 50, 50, 1);
}

.pagination li.active {
  background: #00BCD4
}

/* Star - Style for sort */

.table-sortable > thead > tr > th {
  cursor: pointer;
  position: relative;
  background-image: none;
}

.table-sortable > thead > tr > th:after,
.table-sortable > thead > tr > th.sort-false:after,
.table-sortable > thead > tr > th.sort-true:after {
  font-family: FontAwesome;
  padding-left: 5px;
}

.sortable:after {
  content: "\f0dc";
  color: #ddd;
}
.sortable.sort-false:after {
  content: "\f0de";
  color: #767676;
}
.sortable.sort-true:after {
  content: "\f0dd";
  color: #767676;
}

/* End - Style for sort */

/* Star - Style for filters */
.input-filter {
  margin-top: -0.5rem;
  margin-bottom: 0.3rem;
  min-height: min-content !important;
}

.input-filter .icon-filter {
  margin-left: 96%;
  margin-top: 12px;
  font-size: 20px;
}

.input-filter input {
  width: 100%;
  margin-left: 0rem;
  margin-bottom: 0rem;
}
/* End - Style for sort */

/* Star - Various styles  */
.text-center {
  text-align: center;
}

td {
  padding: 8px 5px;
}

th {
  padding: 17px 5px;
}
/* End - Various styles  */

/* Star - Styles modals */
.modal-styles {
  /*z-index: 1200 !important;*/
  max-width: 44rem;
}
/* End - Styles modals */
