
.td-day {
    border-top: 0.5px solid white;
    background-color: rgb(221, 221, 221);
}

.border-top-none {
    border-top: none !important;
}

.no-results-found {
    padding: .6rem;
    border-bottom: 1px solid #d0d0d0;
    &:hover {
        background-color: #d5d5d575;
    }
}
