<div class="row margin bottom-xs">
    <div class="col s12">
        <span class="sub-title center-align">Horarios del profesional</span>
        <table class="centered striped">
            <thead>
                <tr>
                    <th>Día de la Semana</th>
                    <th>Hora Desde</th>
                    <th>Hora Hasta</th>
                    <th>Duración</th>
                    <th>Consultorio</th>
                    <th>Especialidad</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of daysWithProfessionalSchedules; let i = index">
                    <tr *ngFor="let schedule of item.schedules; let idx = index">
                        <td class="td-day {{i == 0 ? 'border-top-none': ''}}" [attr.rowspan]="item.schedules.length" *ngIf="idx == 0" >
                            <span style="font-weight: 700">{{schedule.weekdayName}}</span>
                        </td>
                        <td>{{schedule.hourFrom?.substr(0,5)}}</td>
                        <td>{{schedule.hourTo?.substr(0,5)}}</td>
                        <td>{{schedule.time}}</td>
                        <td>{{schedule.consultingRoom}}</td>
                        <td>{{schedule.specialtyName}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>

    <div class="col s12" *ngIf="registeredSchedules.length == 0">
        <p class="center-align no-results-found">
            <span *ngIf="isLoading">Cargando...</span>
            <span *ngIf="showInitialMsg">Presione consultar para cargar los horarios.</span>
            <span *ngIf="!isLoading && !showInitialMsg">El Profesional seleccionado no tiene horarios cargados.</span>
        </p>
    </div>
</div>
