.tabs {
    background-color: #00897B;
    margin-bottom: 1rem;
}

.tabs .tab a {
    color: white;
}

.tabs .tab a.active {
    background-color: #00bcd4;
    font-weight: bold;
    font-size: medium;
}

:host /deep/ .tabs .indicator {
    background-color:rgb(0, 96, 172) !important;
}

@import '../../../styles/custom-variables.scss';

.select-wrapper input.select-dropdown {
    height: 2.5rem !important;
}

.no-results-found {
    // background-color: #d5d5d575;
    padding: .6rem;
    border-bottom: 1px solid $table-border-color;
}

.no-results-found:hover {
    background-color: #d5d5d575;
}

.paginator .page-size {
    display: inline-block;
    margin-top: 1.5rem;
}

.paginator .pages {
    text-align: right;
    margin-top: .5rem;
}

@media #{$small-and-down} {
    .paginator .pages {
        text-align: center !important;
        margin-top: 0 !important;
    }
}

td, th {
    padding: 5px 5px;
}