<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <span class="card-title center-align">{{title}}</span>
                <br />
                <loading *ngIf="isLoading"></loading>
                <form #formWardSector="ngForm" [formGroup]="form" (ngSubmit)="onSubmit($event)" *ngIf="!isLoading && !!form">
                    <div class="row">
                        <div class="input-field col s6 m6">
                            <input id="name" formControlName="name" type="text" class="validate" maxlength="80" />
                            <label [class.active]="form.value.name" for="name">Nombre</label>
                            <app-control-error-message [form]="formWardSector" [control]="{key:'name'}"></app-control-error-message>
                        </div>
                        <div class="input-field col s6 m6">
                            <!-- <input formControlName="depositName" type="text" required id="depositName" auto-complete
                            [source]="auxListDeposit"
                            [value]="depositName"
                            (valueChanged)="customCallbackDeposit($event)"
                            (input)="depositName=$event.target.value"
                            placeholder="" max-num-list="10" />
                            <label for="depositName" [class.active]="form.value.depositName">Deposito</label>
                            <app-control-error-message [form]="formWardSector" [control]="{key:'depositName'}"></app-control-error-message> -->
                            <input-auto-complete [label]="'Deposito'" [requiredIAC]="true" [form]="form"
                                                 [formControlNameIAC]="'depositName'" [valuePropertyName]="'name'"
                                                 [readonlyIAC]="false"
                                                 [source]="deposits" (valueChange)="depositSelected($event)">
                            </input-auto-complete>
                        </div>
                    </div>
                    <div class="row">

                    </div>
                    <br />
                    <div class="row center-align">
                        <button type="submit" [disabled]="!formWardSector.form.valid" class="waves-effect waves-light btn btn-form center cyan " style="z-index: 0 !important">Guardar</button>
                        <button type="button" class="waves-effect waves-light btn btn-form center red lighten-1" (click)="onCancelButton()" style="z-index: 0 !important">Cancelar</button>
                    </div>
                </form>
                <div *ngIf="!isLoading && !form">
                    <div class="center-align" style="margin-bottom: 50px;margin-top: 20px;">
                        <span style="font-weight: bold;">NO HAY DATOS PARA MOSTRAR</span>
                    </div>
                    <div class="center-align">
                        <a [routerLink]="['/camas/camas']" class="waves-effect waves-light btn center-align red lighten-1">Cerrar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-modal-confirm [title]="isEdit ? 'Editar' : 'Alta'" [message]="'Desea regresar sin guardar los cambios?'" [openModalSubject]="openModalSubject"
                   (agree)="onAgree()">
</app-modal-confirm>
