<!-- Modal for high and modification -->
<div id="mainModal" class="modal" [class.modal-styles]="showForm" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="mainModalActions" >
    <div class="modal-content" >
        <h5 class="center-align">{{titleModal}}</h5>
        <br/>
        <app-dynamic-form *ngIf="showForm"
            [isLoading]="isSaving"
            [controls]="inputDataControls"
            [btnTextSubmit]="btnTextSubmit"
            [btnText]="'Cancelar'"
            (formsubmit)="onSubmit($event)"
            (formreturn)="cancelModal()"
            >
        </app-dynamic-form>

        <app-modal-confirm
            [content]="contentModalDiscardChange"
            [openModalSubject]="openModalDiscardChange"
            (agree)="discardChanges()"
            (close)="activeModalDiscardChange=false">
        </app-modal-confirm>
    </div>
    <div class="modal-overlay" *ngIf="activeModalDiscardChange"></div>
</div>
