<div class="card-content">
    <span class="card-title center-align">Esquema de Medicación</span>
    <form #f="ngForm" [formGroup]="form" (ngSubmit)="addMedications()">
        <div class="row">
            <div class="input-field col s12 m4">
                <input-auto-complete #articlesIAC [label]="'Artículo'" [requiredIAC]="true" [form]="form"
                    [formControlNameIAC]="'articleCode'" [source]="articles" [displayPropertyName]="'name'"
                    [valuePropertyName]="'id'" [isLoading]="loadingArticles" (valueChange)="onChangeIAC($event)">
                </input-auto-complete>
            </div>
            <div class="input-field col s12 m2">
                <select id="type" formControlName="type" materialize="material_select" [materializeSelectOptions]="conceptTypes"
                    (change)="onSelectChange($event)" required>
                    <option value="" disabled selected>Elija una opción</option>
                    <option *ngFor="let articleType of articleTypes" [ngValue]="articleType.number">{{articleType.name}}</option>
                </select>
                <label for="type">Tipo</label>
                <app-control-error-message [form]="f" [show]="!form.value.type && form.value.type != 0"></app-control-error-message>
            </div>
            <div class="input-field col s12 m2">
                <input id="quantity" class="validate" type="number" formControlName="quantity" min="0" required>
                <label for="quantity" [class.active]="form.value.quantity">Cantidad</label>
                <app-control-error-message [form]="f" [control]="{key:'quantity'}"></app-control-error-message>
            </div>
            <div class="input-field col s12 m2">

                <input id="time" formControlName="time" type="time" class="timepicker" materialize="pickatime" [materializeParams]="[timeOptions]" readonly>
                <label class="active" for="time">Hora</label>

                <!--<input type="time" id="time" formControlName="time">
                <label for="time" [class.active]="isActiveDate">Hora</label>-->
                <app-control-error-message [form]="f" [control]="{key:'time'}"></app-control-error-message>
            </div>
            <div class="input-field col s12 m2">
                <button type="submit" [disabled]="!f.form.valid" class="waves-effect waves-light btn btn-form center blue z-index-0">Agregar</button>
            </div>
        </div>
    </form>

    <form #fo="ngForm" [formGroup]="formPharmacyScheme" (ngSubmit)="savePharmacyScheme()">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <table class="highlight centered">
                            <thead>
                                <tr>
                                    <th class="text-left">Medicacion</th>
                                    <th>Tipo</th>
                                    <th>Cantidad</th>
                                    <th>Hora</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody formArrayName="medicines">
                                <tr *ngIf="formPharmacyScheme.get('medicines').controls.length <= 0">
                                    <td [attr.colspan]="4">
                                        <p class="text-center">No hay elementos para mostrar.</p>
                                    </td>
                                </tr>
                                <ng-container *ngFor="let medicines of formPharmacyScheme.get('medicines').controls; let i=index">
                                    <tr [formGroupName]="i">
                                        <td class="text-left">
                                            <input type="number" formControlName="id" hidden />
                                            <input type="text" formControlName="articleCode" hidden>
                                            <input type="text" formControlName="articleName" hidden>
                                            <input type="text" formControlName="articleNameDetail">
                                        </td>
                                        <td>
                                            <select id="type" formControlName="type" materialize="material_select"
                                                [materializeSelectOptions]="conceptTypes" (change)="onSelectTypeChange($event, i)">
                                                <option value="" disabled selected>Elija una opción</option>
                                                <option *ngFor="let articleType of articleTypes" [ngValue]="articleType.number">{{articleType.name}}</option>
                                            </select>
                                            <app-control-error-message [form]="fo" [show]="!formPharmacyScheme.value.medicines[i].type && formPharmacyScheme.value.medicines[i].type != 0"></app-control-error-message>
                                        </td>
                                        <td>
                                            <input id="quantity" class="validate" type="number" formControlName="quantity"
                                                min="0">
                                            <app-control-error-message [form]="fo" [show]="!formPharmacyScheme.value.medicines[i].quantity"></app-control-error-message>
                                        </td>
                                        <td>
                                            <input type="time" id="time" formControlName="time">
                                            <app-control-error-message [form]="fo" [show]="formPharmacyScheme.value.medicines[i].type != 2 && !formPharmacyScheme.value.medicines[i].time"></app-control-error-message>
                                        </td>
                                        <td style="max-width: 120px;">
                                            <a (click)="deleteMedication(i)" materialize="tooltip" data-position="bottom"
                                                data-delay="50" data-tooltip="Quitar">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m6">
                <input #dateIni id="dateIni" formControlName="dateIni" [attr.data-value]="formPharmacyScheme.value.dateIni"
                    required type="text" class="datepicker" materialize="pickadate" [materializeParams]="[datePickerOptionsFrom]"
                    (input)="changeDateFrom()">
                <label for="dateIni" [class.active]="formPharmacyScheme.value.dateIni">Fecha Inicio</label>
                <app-control-error-message [form]="fo" [control]="{key:'dateIni'}"></app-control-error-message>
            </div>
            <div class="input-field col s12 m6">
                <input #dateEnd id="dateEnd" formControlName="dateEnd" [attr.data-value]="formPharmacyScheme.value.dateEnd"
                    required type="text" class="datepicker" materialize="pickadate" [materializeParams]="[datePickerOptionsTo]"
                    (input)="changeDateTo()">
                <label for="dateEnd" [class.active]="formPharmacyScheme.value.dateEnd">Fecha Fin</label>
                <app-control-error-message [form]="fo" [control]="{key:'dateEnd'}"></app-control-error-message>
            </div>
            <div class="input-field col s12 m12">
                <input type="text" id="observation" formControlName="observation">
                <label for="observation" [class.active]="formPharmacyScheme.value.observation">Observación</label>
                <app-control-error-message [form]="fo" [control]="{key:'observation'}"></app-control-error-message>
            </div>
        </div>
        <div class="row center-align">
            <button type="submit" [disabled]="!fo.form.valid || formPharmacyScheme.get('medicines').controls.length <= 0" class="waves-effect waves-light btn btn-form center blue z-index-0">Agregar</button>
            <button type="button" class="waves-effect waves-light btn btn-form center red z-index-0" (click)="cancel()">Cancelar</button>
        </div>
    </form>

</div>
<app-modal-confirm [title]="'Alta'" [message]="'¿Desea regresar sin guardar los cambios?'" [openModalSubject]="modalDiscardSubject"
    (agree)="closeForm()">
</app-modal-confirm>