<div class="row">
    <div class="card-content" [hidden]="editPharmacySchemeItem || newPharmacySchemeItems">
        <span class="card-title center-align">{{isNewEvolution ? 'Nueva': 'Editar'}} Evolucion</span>
        <loading *ngIf="isLoading"></loading>
        <form #f="ngForm" [formGroup]="form" (ngSubmit)="save()" *ngIf="!isLoading && !!form">
            <div class="row">
                <div class="input-field col s12 m6">
                    <input-auto-complete [label]="'Profesional'" [requiredIAC]="true"
                                        [form]="form" [formControlNameIAC]="'professionalId'"
                                        [source]="professionals" [isLoading]="loadingProfessionalIAC"
                                        [readonlyIAC]="readonly" [readonlyValue]="hcEvolution.professionalName"
                                        (valueChange)="onChangeProfessional()">
                    </input-auto-complete>
                </div>
                <div class="input-field col s12 m6">
                    <input-auto-complete [label]="'Especialidad'"
                                        [form]="form" [formControlNameIAC]="'specialtyId'"
                                        [readonlyIAC]="!isNewEvolution || readonly" [readonlyValue]="hcEvolution.specialtyName"
                                        [source]="specialties" [isLoading]="loadingSpecialtyIAC">
                    </input-auto-complete>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m12">
                    <input-auto-complete [label]="'Práctica'" [requiredIAC]="true"
                                        [form]="form" [formControlNameIAC]="'practiceId'"
                                        [source]="practices" [isLoading]="loadingPracticeIAC"
                                        [readonlyIAC]="readonly" [readonlyValue]="hcEvolution.practiceName"
                                        (valueChange)="onChangePractice()">
                    </input-auto-complete>
                </div>
            </div>
            <br />
            <div class="row">
                <div>
                    <ul class="tabs" materialize="tabs">
                        <li class="tab col s6" (click)="changeActiveTab('items')">
                            <a [class.active]="activeTab == 'items'" href="#items">ITEMS</a>
                        </li>
                        <li class="tab col s6" (click)="changeActiveTab('pharmacyScheme')">
                            <a [class.active]="activeTab == 'pharmacyScheme'" href="#pharmacyScheme">ESQ. MEDICAMENTOS</a>
                        </li>
                        <li class="indicator" style="right: 958px; left: 0px;"></li>
                    </ul>
                </div>
                <div id="items" class="col s12">
                    <span class="" *ngIf="showMsgItemsNotFound && !showItems"> La Práctica seleccionada no tiene asociado items.</span>
                    <span class="" *ngIf="!showMsgItemsNotFound && !showItems">Seleccione una Práctica para cargar los items.</span>
                    <div class="row" *ngIf="showItems">
                        <span class="card-title">Items</span>
                        <div [formGroup]="formForItems">
                            <div class="row">
                                <app-dynamic-form-control *ngFor="let ctrl of controlsForItems" [control]="ctrl" [form]="formForItems">
                                </app-dynamic-form-control>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="pharmacyScheme" class="col s12">
                    <clinic-history-pharmacy-scheme-list
                        [readOnly]="readonly"
                        (actionClick)="onActionScheme($event)">
                    </clinic-history-pharmacy-scheme-list>
                </div>
            </div>
            <br />
            <div class="row center-align"  *ngIf="!readonly">
                <button *ngIf="!isSaving" type="submit"
                    [disabled]="!f.form.valid || !formForItems.valid"
                    class="waves-effect waves-light btn btn-form center blue z-index-0">Guardar</button>
                <button *ngIf="isSaving" type="submit" class="waves-effect waves-light btn btn-form center blue" disabled>
                    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                    Guardando
                </button>
                <button type="button" class="waves-effect waves-light btn btn-form center red z-index-0" (click)="onCancelButtonOfCH()">Cancelar</button>
            </div>
            <div class="row center-align" *ngIf="readonly">
                <button type="button" class="waves-effect waves-light btn btn-form center blue" (click)="discardChanges()">Volver</button>
            </div>
        </form>
    </div>
    <div *ngIf="editPharmacySchemeItem">
        <pharmacy-new-items-form [hcId]="idCH" (closeView)="closeViewNewItems()"></pharmacy-new-items-form>
    </div>
    <div *ngIf="newPharmacySchemeItems">
            <pharmacy-new-items-form [hcId]="hcEvolutionId" (closeView)="closeViewNewItems()"></pharmacy-new-items-form>
    </div>
</div>
<app-modal-confirm [title]="!idCH ? 'Alta' : 'Editar'"
                 [message]="'¿Desea regresar sin guardar los cambios?'"
                 [openModalSubject]="openModalDiscardSubject"
                 (agree)="discardChanges()">
</app-modal-confirm>
