<div class="row">
	<div class="col s12">
		<div class="card">
			<div class="card-content">
				<span class="card-title center-align" *ngIf="!showPracticeForm">{{(!contractOsId || isClone) ? 'Nueva' : 'Editar'}} Contrato OS</span>
				<span class="card-title center-align" *ngIf="showPracticeForm">{{isNewPractice ? 'Nueva' : 'Editar'}} Práctica</span>
				<loading *ngIf="isLoading"></loading>
				<form #f="ngForm" [formGroup]="form" (ngSubmit)="saveContract()" *ngIf="!isLoading && !!form && !showPracticeForm">
					<div class="row">
						<div class="input-field col s12 m6">
							<input-auto-complete [label]="'Obra social'" [requiredIAC]="true" [form]="form" [formControlNameIAC]="'medicalInsuranceNumber'"
							    [source]="medicalInsurances">
							</input-auto-complete>
						</div>
						<div class="input-field col s12 m3">
							<input id="dateFrom" class="datepicker" formControlName="dateFrom" type="text" materialize="pickadate" [materializeParams]="[datePickerOptions]"
							    [attr.data-value]="form.value.dateFrom">
							<label for="dateFrom" [class.active]="form.value.dateFrom">Período Desde</label>
							<app-control-error-message [form]="f" [control]="{key:'dateFrom'}"></app-control-error-message>
						</div>
						<div class="input-field col s12 m3">
							<input id="dateTo" class="datepicker" formControlName="dateTo" type="text" materialize="pickadate" *ngIf="showDPOwhitMin"
							    [materializeParams]="[datePickerOptionsWhitMax]" [attr.data-value]="form.value.dateTo">

							<input id="dateTo" class="datepicker" formControlName="dateTo" type="text" materialize="pickadate" *ngIf="!showDPOwhitMin"
							    [materializeParams]="[datePickerOptionsWhitMax]" [attr.data-value]="form.value.dateTo">

							<label for="dateTo" [class.active]="form.value.dateTo">Período Hasta</label>
						</div>
						<div class="input-field col s12">
							<textarea id="description" class="materialize-textarea mat-textarea" formControlName="description" maxlength="1024"></textarea>
							<label for="description" [class.active]="form.value.description">Descripción</label>
						</div>
						<div class="input-field col s12">
							<textarea id="observation" class="materialize-textarea mat-textarea" formControlName="observation" maxlength="80"></textarea>
							<label for="observation" [class.active]="form.value.observation">Observación</label>
						</div>
					</div>
					<app-dynamic-table [sourceService]="contractOsPracticeService" [title]="'Prácticas'" [columns]="contractOsPracticeService.columns"
					    [disabledDetail]="true" [disableButtonFloating]="true" [reloadingData]="reloadingData" (actionClick)="onActionClick($event)"
					    (reloadingDataChange)="updateReloadingData($event)">
					</app-dynamic-table>
					<div class="col s12">
						<blockquote class="blockquote-info">
							<span *ngIf="!f.form.valid">Para poder guardar:
								<br>
							</span>
							<span *ngIf="!f.form.valid"> - Debe cargar los items requeridos.</span>
							<!-- <span *ngIf="!isValidListTask">&middot; Debe cargar por lo menos una práctica.</span> -->
						</blockquote>
					</div>
					<div class="row center-align">
						<button type="submit" [disabled]="!f.form.valid" class="waves-effect waves-light btn btn-form center blue z-index-0">Guardar</button>
						<button type="button" class="waves-effect waves-light btn btn-form center red z-index-0" (click)="onCancel()">Cancelar</button>
					</div>
				</form>
				<form #fPractice="ngForm" [formGroup]="formPractice" (ngSubmit)="savePractice()" *ngIf="!isLoading && !!formPractice && showPracticeForm">
					<div class="row">
						<div class="input-field col s6">
							<input-auto-complete [label]="'Práctica INOS'" [requiredIAC]="true" [form]="formPractice" [formControlNameIAC]="'practiceNumber'"
							    [source]="practicesInos">
							</input-auto-complete>
						</div>
						<div class="input-field col s3">
							<input id="code" class="validate" formControlName="code" type="text" maxlength="20" />
							<label for="code" [class.active]="formPractice.value.code">Código</label>
						</div>
						<div class="input-field col s3">
							<input id="coinsurance" class="validate" formControlName="coinsurance" type="number" step=".01" />
							<label for="coinsurance" [class.active]="formPractice.value.coinsurance">Coseguro</label>
						</div>
						<div class="input-field col s4">
							<input id="price" class="validate" formControlName="price" type="number" step=".01" required />
							<label for="price" [class.active]="formPractice.value.price || formPractice.value.price == 0">Precio</label>
							<app-control-error-message [form]="fPractice" [control]="{key:'price'}"></app-control-error-message>
						</div>
						<div class="input-field col s4">
							<input id="medicalCoverage" class="validate" formControlName="medicalCoverage" type="number" required />
							<label for="medicalCoverage" [class.active]="formPractice.value.medicalCoverage">Cobertura Médica</label>
							<app-control-error-message [form]="fPractice" [control]="{key:'medicalCoverage'}"></app-control-error-message>
						</div>
						<div class="col s4">
							<label class="active">Incluye medicamento</label>
							<div style="padding-top: 0.7rem">
								<input formControlName="medical" type="radio" id="test1" [value]="1" />
								<label style="padding-right: 9%;" for="test1">Si</label>
								<input formControlName="medical" type="radio" id="test2" [value]="0" />
								<label for="test2">No</label>
							</div>
						</div>
					</div>
					<div class="row row-custom">
						<div class="col s4">
							<label class="active">Practica Facturable</label>
							<div style="padding-top: 0.7rem">
								<input formControlName="facturable" type="radio" id="fac1" [value]="true" />
								<label style="padding-right: 9%;" for="fac1">Si</label>
								<input formControlName="facturable" type="radio" id="fac2" [value]="false" />
								<label for="fac2">No</label>
							</div>
						</div>
						<div class="col s4">
							<label class="active">Coseguro Facturable</label>
							<div style="padding-top: 0.7rem">
								<input formControlName="coinsuranceFac" type="radio" id="cofac1" [value]="true" />
								<label style="padding-right: 9%;" for="cofac1">Si</label>
								<input formControlName="coinsuranceFac" type="radio" id="cofac2" [value]="false" />
								<label for="cofac2">No</label>
							</div>
						</div>
						
					</div>
					<div class="row center-align">
						<button type="submit" [disabled]="!fPractice.form.valid" class="waves-effect waves-light btn btn-form center blue z-index-0">Guardar</button>
						<button type="button" class="waves-effect waves-light btn btn-form center red z-index-0" (click)="onCancel()">Cancelar</button>
					</div>
				</form>
				<div *ngIf="!isLoading && (!showPracticeForm && !form || showPracticeForm && !formPractice)">
					<div class="center-align" style="margin-bottom: 50px;margin-top: 20px;">
						<span style="font-weight: bold;">NO HAY DATOS PARA MOSTRAR</span>
					</div>
					<div class="center-align">
						<a [routerLink]="['/archivos/contratosOs']" class="waves-effect waves-light btn center-align red lighten-1" *ngIf="!showPracticeForm">Cerrar</a>
						<button type="button" class="waves-effect waves-light btn center-align red lighten-1" (click)="onAgree()" *ngIf="showPracticeForm">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<app-modal-confirm [title]="!showPracticeForm && (!contractOsId || isClone) || showPracticeForm && isNewPractice ? 'Alta' : 'Editar'"
    [message]="'¿Desea regresar sin guardar los cambios?'" [openModalSubject]="openModalSubject" (agree)="onAgree()">
</app-modal-confirm>
<app-modal-confirm [title]="'Eliminar Práctica'" [message]="'¿Desea eliminar la práctica?'" [openModalSubject]="deleteModalSubject"
    (agree)="deletePractice()">
</app-modal-confirm>